{% extends 'app/base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'app/achievements.css' %}">
{% endblock %}
{% block body %}
  <div class="body-container container">
    <h1 class="heading-secondary">Achievements</h1>
    <div class="mt-4">
      <h3 class="heading-fourth">My Achievements</h3>
      <div class="achievements">
        {% if my_achievements %}
          {% for achievement in my_achievements %}
            <div class="achievement">
              <img src="{% static 'img/achievement.png' %}" alt="">
              <div>
                <h5>{{ achievement.title }}</h5>
                <p>
                  {{ achievement.description }}
                </p>
                <small>{{ achievement.credits }} credits</small>
                <small>{{ achievement.ranking_points }} ranking points</small>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <small>No achievements achieved yet!</small>
        {% endif %}
      </div>
    </div>
    <div class="mt-4">
      <h3 class="heading-fourth">Possible Achievements</h3>
      <div class="achievements">
        {% for achievement in achievements %}
          <div class="achievement">
            <img src="{% static 'img/achievement.png' %}" alt="">
            <div>
              <h5>{{ achievement.name }}</h5>
              <p>
                {{ achievement.requirement }}
              </p>
              <small>{{ achievement.credits }} credits</small>
              <small>{{ achievement.ranking_points }} ranking points</small>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
