{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">
    <link rel="icon" href="{% static 'img/logos/w3hacks-cut.png' %}">
    <link rel="stylesheet" href="{% static 'global/queries.css' %}">
    <link rel="stylesheet" href="{% static 'global/global.css' %}">
    <link rel="stylesheet" href="{% static 'global/components.css' %}">
    <link rel="stylesheet" href="{% static 'app/base.css' %}">
    <link rel="stylesheet" href="{% static 'cdn/bootstrap/bootstrap.min.css' %}">

    <!-- Alertify -->
    <link rel="stylesheet" href="{% static 'cdn/alertify/alertify.min.css' %}" />
    <link rel="stylesheet" href="{% static 'cdn/alertify/default.min.css' %}" />
    <link rel="stylesheet" href="{% static 'cdn/alertify/semantic.min.css' %}" />
    <link rel="stylesheet" href="{% static 'cdn/alertify/bootstrap.min.css' %}" />
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-dark">
      <div class="container">
        <a class="navbar-brand" href="/">w3Hacks App</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-target">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-target">
          <ul class="navbar-nav ml-auto" style="display: flex; align-items: center;">
              {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
              {% endif %}
              {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/leaderboards/">Leaderboards</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Exercises</a>
                    <div class="dropdown-menu">
                      <a href="/exercises/" class="dropdown-item">Exercises</a>
                      <a href="/exercises/project-exercises/" class="dropdown-item">Project Exercises</a>
                      <a href="/exercises/quiz-exercises/" class="dropdown-item">Quiz Exercises</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" data-toggle="dropdown" href="#">
                    {% if request.user.profile.profile_picture %}
                      <div class="image-cropper" style="border-width: 2px;">
                        <img style="width: 35px; height: 35px; border-width: 2px;" src="{{ request.user.profile.profile_picture.url }}" alt="">
                      </div>
                    {% else %}
                      <img style="width: 35px; height: 35px; border-width: 2px;" src="{% static 'img/icons/user.png' %}" alt="">
                    {% endif %}
                  </a>
                  <div class="dropdown-menu">
                    <a href="/@{{ request.user.username }}" class="dropdown-item">View Profile</a>
                    <a href="/@{{ request.user.username }}/edit" class="dropdown-item">Edit Profile</a>
                    <div class="dropdown-divider"></div>
                    <a href="/logout/" class="dropdown-item">Log out</a>
                  </div>
                </li>
              {% else %}
                <li class="nav-item mr-2">
                    <a class="nav-link" href="/login/">Login</a>
                </li>
                <li class="nav-item">
                    <a class="solid-cta-button-light" href="/sign-up/">Sign up!</a>
                </li>
              {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    {% if breadcrumbs %}
      <ul class="breadcrumbs">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item">
            {% if forloop.last %}
              <span>{{ breadcrumb.text }}</span>
            {% else %}
              <a href="{{ breadcrumb.link }}" class="breadcrumb-link">{{ breadcrumb.text }}</a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    {% block body %}
    {% endblock %}

    {% include 'blocks/footer.html' %}

    <script src="{% static 'cdn/alertify/alertify.min.js' %}"></script>
    <script src="{% static 'cdn/js/jquery.js' %}"></script>
    <script src="{% static 'cdn/js/popper.min.js' %}"></script>
    <script src="{% static 'cdn/js/bootstrap.min.js' %}"></script>

    <script>
      if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
      }

      {% if message %}
        {% if status == "good" %}
          alertify.success("{{ message }}");
        {% elif status == "bad" %}
          alertify.error("{{ message }}");
        {% endif %}
      {% endif %}
    </script>
  </body>
</html>
