{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/base.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-dark">
      <div class="container">
        <a class="navbar-brand" href="/">w3Hacks</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-target">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-target">
          <ul class="navbar-nav ml-auto" style="display: flex; align-items: center;">
              <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/achievements/">Achievements</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/leaderboards/">Leaderboards</a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Activites</a>
                  <div class="dropdown-menu">
                    <a href="/activites/" class="dropdown-item">Activites</a>
                    <a href="/project-exercises/" class="dropdown-item">Project Exercises</a>
                    <a href="/quiz-exercises/" class="dropdown-item">Quiz Exercises</a>
                    <a href="/mini-exercises/" class="dropdown-item">Mini-Exercises</a>
                  </div>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">w3Hacks Hackathon</a>
                  <div class="dropdown-menu">
                    <a href="/hackathon/" class="dropdown-item">w3Hacks Hackthon</a>
                    <a href="/about-the-hackathon/" class="dropdown-item">About the Hackathon</a>
                    <a href="/past-hackathons/" class="dropdown-item">Past Hackathons</a>
                    <a href="/future-hackathons/" class="dropdown-item">Future Hackathons</a>
                    <a href="http://hackathon.w3hacks.com" class="dropdown-item">Compete in the Hackathon!</a>
                  </div>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                    {% if request.user.profile.profile_picture %}
                      <img style="width: 35px" src="{{ profile.profile_picture.url }}" alt="">
                    {% else %}
                      <img style="width: 35px" src="{% static 'img/user.png' %}" alt="">
                    {% endif %}
                  </a>
                  <div class="dropdown-menu">
                    <a href="/profile/{{ request.user.id }}" class="dropdown-item">View Profile</a>
                    <a href="/edit-profile/{{ request.user.id }}" class="dropdown-item">Edit Profile</a>
                    <div class="dropdown-divider"></div>
                    <a href="/logout/" class="dropdown-item">Log out</a>
                  </div>
              </li>
          </ul>
        </div>
      </div>
    </nav>
    {% block body %}
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
  </body>
</html>
