{% extends 'app/base.html' %}
{% load static %}
{% block head %}
  <title>w3Hacks App - Edit User Profile</title>
  <link rel="stylesheet" href="{% static 'app/edit-profile.css' %}">
{% endblock %}
{% block body %}
  <div class="body-container container">
    <h1 class="heading-secondary">Edit Profile</h1>
    <form enctype="multipart/form-data" method="post">
      {% csrf_token %}

      <div class="edit-profile-grid">
        <div>
          <div class="form-input-group">
            <label>First Name *:</label><br>
            <input class="ghost-input-dark" type="text" name="first-name" value="{{ profile.user.first_name }}" required>
          </div>
          <div class="form-input-group">
            <label>Last Name *:</label><br>
            <input class="ghost-input-dark" type="text" name="last-name" value="{{ profile.user.last_name }}" required>
          </div>
          <div class="form-input-group">
            <label>Email *:</label><br>
            <input class="ghost-input-dark" type="email" name="email" value="{{ profile.user.email }}" required>
          </div>
          <div class="form-input-group">
            <label>Username *:</label><br>
            <input class="ghost-input-dark" type="text" name="username" value="{{ profile.user.username }}" required>
          </div>
          <div class="form-input-group">
            <label>Biography:</label><br>
            {% if profile.biography %}
              <textarea class="ghost-input-dark" type="text" name="biography">{{ profile.biography }}</textarea>
            {% else %}
              <textarea class="ghost-input-dark" type="text" name="biography"></textarea>
            {% endif %}
          </div>
          <div class="form-input-group">
            <label>Birthday:</label><br>
            <input class="ghost-input-dark" type="date" name="birthday" value="{{ profile.birthday }}">
          </div>
          <div class="form-input-group">
            <label>Profile Picture:</label><br>
            <input type="file" name="profile-picture" id="file" class="inputfile" data-multiple-caption="{count} files selected" accept="image/*" />
            <label for="file">
              <img class="file-upload-icon" src="{% static 'img/file-upload.svg' %}" alt="">
              <span>Choose a file</span>
            </label>
          </div>
          <div class="form-input-group">
            <label>Skills:</label><br>
            {% if skills %}
              <input class="ghost-input-dark" type="text" name="skills" value="{{ skills }}">
            {% else %}
              <input class="ghost-input-dark" type="text" name="skills">
            {% endif %}
          </div>

          <div class="form-input-group">
            <label>Location:</label><br>
            {% if profile.location %}
              <input class="ghost-input-dark" type="text" name="location" value="{{ profile.location }}">
            {% else %}
              <input class="ghost-input-dark" type="text" name="location">
            {% endif %}
          </div>
        </div>
        <div>
          <div class="form-input-group">
            <label>Education:</label><br>
            {% if profile.education %}
              <input class="ghost-input-dark" type="text" name="education" value="{{ profile.education }}">
            {% else %}
              <input class="ghost-input-dark" type="text" name="education">
            {% endif %}
          </div>

          <!-- Social Links -->
          <div class="form-input-group">
            <label>GitHub:</label><br>
            {% if profile.github_profile %}
              <input class="ghost-input-dark" type="url" name="github-profile" value="{{ profile.github_profile }}" >
            {% else %}
              <input class="ghost-input-dark" type="url" name="github-profile" >
            {% endif %}
          </div>
          <div class="form-input-group">
            <label>LinkedIn:</label><br>
            {% if profile.linkedin_profile %}
              <input class="ghost-input-dark" type="url" name="linkedin-profile" value="{{ profile.linkedin_profile }}">
            {% else %}
              <input class="ghost-input-dark" type="url" name="linkedin-profile">
            {% endif %}
          </div>
          <div class="form-input-group">
            <label>Twitter:</label><br>
            {% if profile.twitter_profile %}
              <input class="ghost-input-dark" type="url" name="twitter-profile" value="{{ profile.twitter_profile }}">
            {% else %}
              <input class="ghost-input-dark" type="url" name="twitter-profile">
            {% endif %}
          </div>
          <div class="form-input-group">
            <label>Instagram:</label><br>
            {% if profile.instagram_profile %}
              <input class="ghost-input-dark" type="url" name="instagram-profile" value="{{ profile.instagram_profile }}">
            {% else %}
              <input class="ghost-input-dark" type="url" name="instagram-profile">
            {% endif %}
          </div>
          <div class="form-input-group">
            <label>Facebook:</label><br>
            {% if profile.facebook_profile %}
              <input class="ghost-input-dark" type="url" name="facebook-profile" value="{{ profile.facebook_profile }}">
            {% else %}
              <input class="ghost-input-dark" type="url" name="facebook-profile">
            {% endif %}
          </div>
          <div class="form-input-group">
            <label>Twitch:</label><br>
            {% if profile.twitch_profile %}
              <input class="ghost-input-dark" type="url" name="twitch-profile" value="{{ profile.twitch_profile }}">
            {% else %}
              <input class="ghost-input-dark" type="url" name="twitch-profile">
            {% endif %}
          </div>
          <div class="form-input-group">
            <label>Personal Website:</label><br>
            {% if profile.personal_website %}
              <input class="ghost-input-dark" type="url" name="personal-website" value="{{ profile.personal_website }}">
            {% else %}
              <input class="ghost-input-dark" type="url" name="personal-website">
            {% endif %}
          </div>
        </div>
      </div>

      <div class="text-center w-50 m-auto">
        <input class="solid-cta-button mt-5" type="submit" value="Update!">
      </div>
    </form>
  </div>
  <script src="{% static 'js/file-upload.js' %}" charset="utf-8"></script>
{% endblock %}
