{% extends 'app/base.html' %}
{% load static %}
{% block body %}
  <div class="container">
    <h1>Fix The Code Exercise: {{ exercise.name }}</h1>
    {% if user_already_completed_mini_exercise %}
      <strong>Mini Exercise already completed!</strong>
    {% else %}
      <p>
        <strong>Description:</strong> {{ exercise.description }}
      </p>
      <p>
        <strong>Topic:</strong> {{ exercise.topic.name }}
      </p>
      <p>
        <strong>Difficulty Level:</strong> {{ exercise.difficulty_level.name }}
      </p>
      {% if prerequisites %}
        <h5>Pre-Requisites</h5>
        <ul>
          {% for prerequisite in prerequisites %}
            <li>{{ prerequisite }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if resources %}
        <h5>Resources</h5>
        <ul>
          {% for resource in resources %}
            <li><a href="{{ resource.link }}" target="_">{{ resource.title }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}

      <p>
        <strong>Repl Link:</strong> <a href="{{ exercise.repl_link }}" target="_">{{ exercise.repl_link }}</a>
      </p>

      <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <input type="url" name="repl-link" placeholder="Finished Repl Link">
        <input type="submit" value="Submit">
      </form>
    {% endif %}
  </div>
{% endblock %}
