{% extends 'app/base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'app/hackathon.css' %}">
{% endblock %}
{% block body %}
  <div class="container">
    <h1>w3Hacks Hackathon</h1>
    <div class="options">
      <div class="option">
        <div class="option-img">
          <img src="{% static 'img/no-image-available.png' %}" alt="">
        </div>
        <div class="option-body">
          <h5>Option</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </div>
      <div class="option">
        <div class="option-img">
          <img src="{% static 'img/no-image-available.png' %}" alt="">
        </div>
        <div class="option-body">
          <h5>Option</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </div>
      <div class="option">
        <div class="option-img">
          <img src="{% static 'img/no-image-available.png' %}" alt="">
        </div>
        <div class="option-body">
          <h5>Option</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </div>
      <div class="option">
        <div class="option-img">
          <img src="{% static 'img/no-image-available.png' %}" alt="">
        </div>
        <div class="option-body">
          <h5>Option</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
