{% extends 'app/base.html' %}
{% load static %}
{% block head %}
  <title>w3Hacks App - w3Hacks User Leaderboards</title>
  <link rel="stylesheet" href="{% static 'app/leaderboards.css' %}">
{% endblock %}
{% block body %}
  <div class="body-container container">
    <h1 class="heading-secondary">Leaderboards</h1>
    <table class="mt-4">
      <tr>
        <th>Username</th>
        <th>Name</th>
        <th>Ranking Points</th>
      </tr>
      {% for profile in overall_rankings %}
        <tr>
          <td>{{ profile.user.username }}</td>
          <td>{{ profile.user.first_name }} {{ profile.user.last_name }}</td>
          <td>{{ profile.overall_ranking_points }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
