{% extends 'app/base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'app/profile.css' %}">
{% endblock %}
{% block body %}
  <div class="container">
    <div class="profile-header">
      <div class="profile-header-main">
        <div class="profile-header-main-left">
          {% if profile.profile_picture %}
            <img class="profile-picture" src="{{ profile.profile_picture.url }}" alt="">
          {% else %}
            <img class="profile-picture" src="{% static 'img/user.png' %}" alt="">
          {% endif %}
        </div>
        <div class="profile-header-main-right">
          <h1>{{ profile.user.first_name }} {{ profile.user.last_name }}</h1>
          <p>{{ profile.biography }}</p>
          <a class="btn btn-primary" href="#">Edit Profile</a>
        </div>
      </div>
      <div class="profile-header-right">
        {% if profile.education %}
          <small>Education</small><br>
          <p>{{ profile.education }}</p>
        {% endif %}

        {% if profile.birthday %}
          <small>Birthday</small><br>
          <p>{{ profile.birthday }}</p>
        {% endif %}

        {% if profile.skills %}
          <small>Skills</small><br>
          <p>{{ profile.skills }}</p>
        {% endif %}

        <small>Joined</small>
        <p>{{ profile.joined_date }}</p>
      </div>
    </div>
    <div class="profile-body">
      <div class="achievement-container">
        <h1>Achievements</h1>
        <div class="achievements">
          {% if achievements %}
            {% for achievement in achievements %}
              <div class="achievement">
                <img src="{% static 'img/achievement.png' %}" alt="">
                <div>
                  <h5>{{ achievement.title }}</h5>
                  <p>{{ achievement.description }}</p>
                  <small>{{ achievement.credits }} credits</small>
                  <small>{{ achievement.ranking_points }} ranking points</small>
                </div>
              </div>
            {% endfor %}
          {% else %}
            <small>No achievements completed yet!</small>
          {% endif %}
        </div>
      </div>
      <div class="hackathon-container">
        <h1>Hackathons</h1>
        <div class="hackathons">
          {% if hackathons %}
            <ul>
              {% for hackathon in hackathons %}
                <li>
                  <a href="http://hackathon.w3hacks.com/{{ hackathon.id }}/">{{ hackathon.title }}</a>
                </li>
              {% endfor %}
            </ul>
          {% else %}
            <small>No hackathons competed in yet!</small>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="profile-body">
      <div class="project-container">
        <h1>Completed Exercises</h1>
        <div class="completed-exercises">
          <small>No exercises completed yet!</small>
        </div>
      </div>
      <div class="hackathon-container"></div>
  </div>
{% endblock %}
