{% extends 'app/base.html' %}
{% load static %}
{% block body %}
  <div class="container">
    <h1>Project Exercise: {{ exercise.name }}</h1>
    {% if user_already_completed_project %}
      <strong>You already completed this project!</strong>
      <p>GitHub Link: <a href="{{ completed_project_exercise.github_link }}" target="_">{{ completed_project_exercise.github_link }}</a> (check this for updates on your project!)</p>
      {% if completed_project_exercise.score %}
        <p>Score: {{ completed_project_exercise.score }}/10</p>
      {% else %}
        <p><strong>This project hasn't been scored yet!</strong></p>
      {% endif %}
    {% else %}
      <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <input type="url" name="github-link" placeholder="GitHub Link">
        <input type="submit" value="Submit project">
      </form>
    {% endif %}
  </div>
{% endblock %}
