{% extends 'app/base.html' %}
{% load static %}
{% block head %}
  <title>w3Hacks - Sign up and Join the w3Hacks Portal!</title>
  <link rel="stylesheet" href="{% static 'home/login-register.css' %}">
{% endblock %}
{% block body %}
  <div class="container py-5">
    <h1 class="heading-secondary">Sign up!</h1>
    <form enctype="multipart/form-data" method="post">
      {% csrf_token %}

      <div>
        <label>First Name: *</label><br>
        <input class="ghost-input-dark mb-3" type="text" name="first-name" placeholder="First Name" required>
      </div>
      <div>
        <label>Last Name: *</label><br>
        <input class="ghost-input-dark mb-3" type="text" name="last-name" placeholder="Last Name" required>
      </div>
      <div>
        <label>Email: *</label><br>
        <input class="ghost-input-dark mb-3" type="email" name="email" placeholder="Email" required>
      </div>

      <div>
        <label>Username: *</label><br>
        <input class="ghost-input-dark mb-3" type="text" name="username" placeholder="Username" required>
      </div>
      <div>
        <label>Password: *</label><br>
        <input class="ghost-input-dark mb-3" type="password" name="password" placeholder="Password" required>
        {% if errors %}
          <ul class="errorlist">
            {% for error in errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

      <input id="registerBtn" class="solid-cta-button w-100" type="submit" value="Sign up!">
      <div class="text-center">
        <small>Already have an account? <a href="/login/">Login Here</a></small>
      </div>
    </form>
  </div>
{% endblock %}
