{% extends 'app/base.html' %}
{% load static %}
{% block body %}
  <div class="container">
    <h1>{{ quiz.name }}</h1>

    <div id="quiz-container">
      <h3 id="question-count"></h3>
      <p><strong id="question"></strong></p>
      <ul id="answers"></ul>

      <button onclick="getQuestion(false)">Next Question</button>
    </div>
  </div>

  <script>
    // Quiz Variables
    let answers = [];
    let questions = {{ questions|safe }};
    let questionIndex = 0;
    let quizLength = questions.length;

    // HTML Tags
    const quizContainer = document.getElementById("quiz-container");
    const questionCountTag = document.getElementById("question-count");
    const questionTag = document.getElementById("question");
    const answersTag = document.getElementById("answers");

    // onInit -> boolean -> true if function was called on initalization
    function getQuestion(onInit) {
      // If this was called from submitting an answer
      if (!onInit) {
        // Get input node
        let answer = document.querySelector("input[type='radio']:checked");

        // If the user selected an answer
        if (answer) {
          answers.push(answer.value); // Add the answer to answers
        }
        // If the user selected an answer
        else {
          alert("You must select a question."); // Alert an error
          return; // Don't move to the next question
        }
      }

      let question = questions[questionIndex];

      // End of quiz
      if (question == undefined) {
        quizContainer.innerHTML = "<div><strong>Quiz finished!</strong></div>";
        return;
      }

      // Setting question counter to current question count
      questionCountTag.innerHTML = "Question " + (questionIndex + 1).toString() + "/" + quizLength.toString();

      // Displaying question on HTML
      questionTag.innerHTML = question.question;

      // Adding each answer to HTML though iteration
      answersTag.innerHTML = ""; // Clearing answers before adding again
      for (answer of question.answers) {
        answersTag.innerHTML += "<li><input type='radio' name='answer' value='" + answer + "'>" + answer + "</li>";
      }

      questionIndex++;
    }

    getQuestion(true); // To start things off
  </script>
{% endblock %}
