{% extends 'home/base.html' %}
{% load static %}
{% block head %}
  <title>w3Hacks App - Future w3Hacks Hackathons</title>
  <link rel="stylesheet" href="{% static 'home/hackathon/past-future-hackathons.css' %}">
{% endblock %}
{% block body %}
  <div class="body-container container">
    <h1 class="heading-secondary">Future Hackathons</h1>
    {% if future_hackathons %}
      <div class="hackathons mt-4">
        {% for hackathon in future_hackathons %}
          <div class="hackathon">
            <img class="hackathon-icon" src="{% static 'img/icons/medal-light.svg' %}" alt="">
            <div>
              <h3>{{ hackathon.title }}</h3>
              <div>
                <strong>Type:</strong> {{ hackathon.type }}
              </div>
              <div>
                <strong>Date:</strong> {{ hackathon.start_date }} - {{ hackathon.end_date }}
              </div>
              <p>
                <strong>Description:</strong> {{ hackathon.description }}
              </p>
              <a class="view-hackathon" href="http://hackathon.w3hacks.com/{{ hackathon.id }}/">
                <img src="{% static 'img/icons/out.png'%}" alt="">
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <div class="text-center mt-4">
        <small>No future hackathons yet!</small>
      </div>
    {% endif %}
  </div>
{% endblock %}
