.exercises {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
}

.exercise {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-gap: 15px;

  background-color: white;
  padding: 15px;
  box-shadow: 0 5px 20px rgba(0,0,0,.1);
  border-radius: 7px;
  transition: all .2s;
  border: 2px solid var(--color-primary);
}

.exercise p {
  margin-bottom: 0 !important;
}

.exercise-icon {
  width: 100%;
}

.exercise-link, .exercise-link:hover {
  color: black;
  text-decoration: none;
}

.exercise-link:hover > .exercise {
  background-color: #eee;
}
