.exercises {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 15px;
}

@media (max-width: 600px) {
  .exercises {
    grid-template-columns: repeat(auto-fill, 100%);
  }
}

.exercise {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-gap: 15px;

  background-color: var(--color-primary-light);
  padding: 15px;
  border-radius: 8px;
  transition: all .2s;
  height: 100%;
}

.exercise p {
  margin-bottom: 0 !important;
}

.exercise:hover {
  background-color: var(--color-primary);
}

.exercise-link:hover {
  text-decoration: none !important;
}

.exercise * {
  color: white;
}

.exercise-icon {
  width: 100%;
}

.exercise-section {
  border: 2px solid var(--color-primary);
  background-color: white;
  padding: 15px;
  border-radius: 7.5px;
  box-shadow: 0 5px 30px rgba(0,0,0,.15);
  color: black;
  margin-bottom: 25px;
}

.information {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 25px;
}

.information ul, ol {
  padding-left: 30px;
}

@media (max-width: 500px) {
  .information {
    grid-template-columns: repeat(auto-fill, 100%);
    grid-gap: 15px;
  }
}

/* .dropbtn {
    color: black;
    font-weight: bold;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    color: #00376e;
    font-weight: bold;
}

#myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;} */
