{% extends 'app/base.html' %}
{% load static %}
{% block head %}
  <title>w3Hacks App - All Mini-Exercises</title>
  <link rel="stylesheet" href="{% static 'app/exercises/exercises.css' %}">
{% endblock %}
{% block body %}
  <div class="body-container container">
    <h1 class="heading-secondary">Mini Exercises</h1>
    <div class="exercises mt-4">
      <a class="exercise-link" href="fix-the-code-exercises/">
        <div class="exercise">
          <img class="exercise-icon" src="{% static 'img/icons/fix.svg' %}" alt="">
          <div class="exercise-body">
            <h5>Fix the Code!</h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>
      </a>
      <a class="exercise-link" href="brainteaser-exercises/">
        <div class="exercise">
          <img class="exercise-icon" src="{% static 'img/icons/brainteaser.svg' %}" alt="">
          <div class="exercise-body">
            <h5>Brain Teasers</h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>
      </a>
      <a class="exercise-link" href="visualization-exercises/">
        <div class="exercise">
          <img class="exercise-icon" src="{% static 'img/icons/visualize.svg' %}" alt="">
          <div class="exercise-body">
            <h5>Visualize it!</h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>
      </a>
      <a class="exercise-link" href="refactor-exercises/">
        <div class="exercise">
          <img class="exercise-icon" src="{% static 'img/icons/refactor.svg' %}" alt="">
          <div class="exercise-body">
            <h5>Refactoring Exercises</h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>
      </a>
      <a class="exercise-link" href="teaching-exercises/">
        <div class="exercise">
          <img class="exercise-icon" src="{% static 'img/icons/teaching.svg' %}" alt="">
          <div class="exercise-body">
            <h5>Teaching Exercises</h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>
      </a>
      <a class="exercise-link" href="github-exercises/">
        <div class="exercise">
          <img class="exercise-icon" src="{% static 'img/icons/github-exercise.svg' %}" alt="">
          <div class="exercise-body">
            <h5>Git/GitHub Exercises</h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>
      </a>
      <a class="exercise-link" href="research-exercises/">
        <div class="exercise">
          <img class="exercise-icon" src="{% static 'img/icons/research.svg' %}" alt="">
          <div class="exercise-body">
            <h5>Research Exercises</h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
{% endblock %}
