{% extends 'app/base.html' %}
{% load static %}
{% block head %}
  <title>w3Hacks App - All Visualization Mini-Exercises</title>
  <link rel="stylesheet" href="{% static 'app/exercises/global-exercise-styles.css' %}">
{% endblock %}
{% block body %}
  <div class="body-container container">
    {% if topic %}
      <h1 class="heading-secondary">{{ topic.name }} Visualization Mini-Exercises</h1>
      {% if exercises %}
        <div class="exercises">
          {% for exercise in exercises %}
          <a class="exercise-link" href="exercise/?id={{ exercise.id }}">
            <div class="exercise">
              <img class="exercise-icon" src="{% static 'img/project.png' %}" alt="">
              <div class="exercise-info">
                <h5>{{ exercise.name }}</h5>
                <p>{{ exercise.description }}</p>
              </div>
            </div>
          </a>
          {% endfor %}
        </div>
      {% else %}
        <small>No visualization mini-exercises yet!</small>
      {% endif %}
    {% else %}
      <h1 class="heading-secondary">Visualization Mini-Exercises</h1>
      {% if topics %}
        <h3 class="heading-tertiary">Topics</h3>
        <div class="topics">
          {% for topic in topics %}
            <a class="topic-link" href="?topic={{ topic.searchable_name }}">
              <div class="topic">
                <span class="topic-name">{{ topic.name }}</span>
              </div>
            </a>
          {% endfor %}
        </div>
      {% else %}
        <small>No topics yet!</small>
      {% endif %}
      <br>
      {% if exercises %}
        <h3 class="heading-tertiary">Exercises</h3>
        <div class="exercises">
          {% for exercise in exercises %}
          <a class="exercise-link" href="exercise/?id={{ exercise.id }}">
            <div class="exercise">
              <img class="exercise-icon" src="{% static 'img/project.png' %}" alt="">
              <div class="exercise-info">
                <h5>{{ exercise.name }}</h5>
                <p>{{ exercise.description }}</p>
              </div>
            </div>
          </a>
          {% endfor %}
        </div>
      {% else %}
        <small>No visualization mini-exercises yet!</small>
      {% endif %}
    {% endif %}
  </div>
{% endblock %}
