{% extends 'app/base.html' %}
{% load static %}
{% block body %}
  <div class="container">
    <h1>Visualization Exercise: {{ exercise.name }}</h1>
    {% if user_already_completed_mini_exercise %}
      <strong>Mini Exercise already completed!</strong>
    {% else %}
      <p>
        <strong>Description:</strong> {{ exercise.description }}
      </p>
      <p>
        <strong>Topic:</strong> {{ exercise.topic.name }}
      </p>
      <p>
        <strong>Difficulty Level:</strong> {{ exercise.difficulty_level.name }}
      </p>
      {% if prerequisites %}
        <h5>Pre-Requisites</h5>
        <ul>
          {% for prerequisite in prerequisites %}
            <li>{{ prerequisite }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if resources %}
        <h5>Resources</h5>
        <ul>
          {% for resource in resources %}
            <li><a href="{{ resource.link }}" target="_">{{ resource.title }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}

      <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <label>Finished Visualization File:</label><br>
        <input type="file" name="visualization-file">
        <br>
        <input type="submit" value="Submit">
      </form>
    {% endif %}
  </div>
{% endblock %}
