* {
  margin: 0;
}

body {
  position: relative;
}

nav {
  background-color: var(--color-primary);
}

header {
  background-color: var(--color-primary);
  min-height: 75vh;
}

section {
  padding: 50px;
}

.header-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-gap: 50px;
  height: 100%;
}

.header-grid * {
  color: white;
}

.right {
  position: relative;
}

.right * {
  position: absolute;
}

.blob1 {
  top: 0;
  left: 0;
}

.blob2 {
  bottom: 0;
  left: 0;
}

.header-image {
  width: 100%;
  background-image: url("../img/blobs/blob2.svg"), url("../img/blobs/blob1.svg"), url("../img/blobs/blob3.svg");
  /* background-image: url("../img/blobs/blob1.svg"), url("../img/blobs/blob2.svg"); */
}

.container {
  height: 100%;
}

.about-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  align-items: center;
}

.about-image {
  width: 100%;
}

.about-description {
  font-size: 20px;
  color: #464646;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 50px;
}

.feature p {
  font-size: 14px;
  margin-left: 52.5px;
  color: #464646;
}

.feature-icon {
  width: 40px;
  margin-right: 5px;
  transform: translateY(-4px);
}

.contact {
  background-color: var(--color-primary);
}

.contact * {
  color: white;
}

.contact-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px;
}

.contact-info {
  text-align: right;
}

.copyright {
  position: absolute;
  bottom: 5px;

  width: 100%;
  color: white;
}
