body {
  position: relative;
}

header {
  background-color: var(--color-primary);
}

/* HEADER */
.header-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding-top: 50px;
  grid-gap: 50px;
  height: 100%;
}

.header-grid * {
  color: white;
}

.header-image, .about-image {
  width: 75%;
  margin: 0 auto;
}

/* ABOUT */
.about-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  align-items: center;
}

.about-description {
  font-size: 17.5px;
  color: #464646;
}

/* FEATURES */
.features {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 30px;
}

.feature p {
  font-size: 14px;
  margin-left: 52.5px;
  color: #464646;
}

.feature-icon {
  width: 40px;
  margin-right: 5px;
  transform: translateY(-4px);
}
