form {
  width: 350px;
  margin: auto;
}

/* WAVES */
.waves {
  position: relative;
  height: 125px;
}

.password-errors {
  list-style: none;
}

.password-errors li {
  color: red;
  font-size: 12.5px;
}

@media (max-width: 500px) {
  form {
    width: 90% !important;
  }
}
