{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/logos/w3hacks-cut.png' %}">
    <link rel="stylesheet" href="{% static 'global/queries.css' %}">
    <link rel="stylesheet" href="{% static 'global/global.css' %}">
    <link rel="stylesheet" href="{% static 'global/components.css' %}">
    <link rel="stylesheet" href="{% static 'home/base.css' %}">
    <link rel="stylesheet" href="{% static 'cdn/bootstrap/bootstrap.min.css' %}">
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-dark">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="{% static 'img/logos/w3hacks-light.png' %}" alt="w3Hacks Logo">
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-target">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-target">
          <ul class="navbar-nav ml-auto" style="display: flex; align-items: center;">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact/">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/events/">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://blog.w3hacks.com">Blog</a>
            </li>
            {% if request.user.is_authenticated %}
              <li class="nav-item">
                  <a class="solid-cta-button-light ml-2" href="https://app.w3hacks.com/">Go to App</a>
              </li>
            {% else %}
              <li class="nav-item mr-2">
                  <a class="nav-link" href="https://app.w3hacks.com/login">Login</a>
              </li>
              <li class="nav-item">
                  <a class="solid-cta-button-light" href="https://app.w3hacks.com/sign-up/">Sign up!</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    {% if breadcrumbs %}
      <ul class="breadcrumbs">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item">
            {% if forloop.last %}
              <span>{{ breadcrumb.text }}</span>
            {% else %}
              <a href="{{ breadcrumb.link }}" class="breadcrumb-link">{{ breadcrumb.text }}</a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    {% block body %}
    {% endblock %}

    {% include 'blocks/footer.html' %}

    <script src="{% static 'cdn/js/jquery.js' %}"></script>
    <script src="{% static 'cdn/js/popper.min.js' %}"></script>
    <script src="{% static 'cdn/js/bootstrap.min.js' %}"></script>
  </body>
</html>
