{% extends 'home/base.html' %}
{% load static %}
{% block head %}
  <title>w3Hacks - FAQs</title>
  <link rel="stylesheet" href="{% static 'home/faqs.css' %}">
  <meta name="description" content="Have a question about w3Hacks, or the platform? Here's some information about questions that we receive frequently.">
{% endblock %}
{% block body %}
  <div class="container py-5">
    <h1 class="heading-secondary mb-4">Frequently Asked Questions</h1>
    <div class="accordion" onclick="extend(this)">
      <div>
        <h4>Title</h4>
      </div>
      <div class="panel">
        <br/>
        <p>Content</p>
      </div>
    </div>
    <div class="accordion" onclick="extend(this)">
      <div>
        <h4>Title</h4>
      </div>
      <div class="panel">
        <br/>
        <p>Content</p>
      </div>
    </div>
    <div class="accordion" onclick="extend(this)">
      <div>
        <h4>Title</h4>
      </div>
      <div class="panel">
        <br/>
        <p>Content</p>
      </div>
    </div>
    <div class="accordion" onclick="extend(this)">
      <div>
        <h4>Title</h4>
      </div>
      <div class="panel">
        <br/>
        <p>Content</p>
      </div>
    </div>
    <div class="accordion" onclick="extend(this)">
      <div>
        <h4>Title</h4>
      </div>
      <div class="panel">
        <br/>
        <p>Content</p>
      </div>
    </div>
  </div>
  <script>
    function extend(event) {
      const panel = event.querySelector(".panel");
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
    }
  </script>
{% endblock %}
