{% extends 'home/base.html' %}
{% load static %}
{% block head %}
  <title>w3Hacks - FAQs</title>
  <link rel="stylesheet" href="{% static 'home/faqs.css' %}">
  <meta name="description" content="Have a question about w3Hacks, or the platform? Here's some information about questions that we receive frequently.">
{% endblock %}
{% block body %}
  <div class="medium-container py-5">
    <div class="text-center mb-4">
      <h1 class="heading-secondary">Frequently Asked Questions</h1>
      <p>Here's a few questions that we get pretty frequently!</p>
    </div>
    <div class="accordion" onclick="extend(this)">
      <div>
        <h4>What is w3Hacks?</h4>
      </div>
      <div class="panel">
        <br/>
        <p>
          w3Hacks is an online platform where anyone can learn industry-level software engineering skills through project-based learning and learning by doing! We have tons of exercises, events, and content to make sure that you learn best!
        </p>
      </div>
    </div>
    <div class="accordion" onclick="extend(this)">
      <div>
        <h4>Why should I use w3Hacks?</h4>
      </div>
      <div class="panel">
        <br/>
        <p>
          w3Hacks is made for those who don't learn best from a book, but for those who learn best by getting their hands dirty in the task and learning by doing. We make all of our exercises independent to how you want to complete it and have it personally grade it by our staff.
        </p>
      </div>
    </div>
    <div class="accordion" onclick="extend(this)">
      <div>
        <h4>What is project-based learning?</h4>
      </div>
      <div class="panel">
        <br/>
        <p>
          Project-based learning is learning certain concepts, tools, and technologies by using them in practice. We enforce good project-based learning by giving you project tasks that you can complete on your own time, and troubleshoot on your own!
        </p>
      </div>
    </div>
    <div class="accordion" onclick="extend(this)">
      <div>
        <h4>How can I get involved with w3Hacks?</h4>
      </div>
      <div class="panel">
        <br/>
        <p>
          You can <a href="https://app.w3hacks.com/sign-up">sign up</a> for free, you can join our Discord community, and you can check out some of the upcoming <a href="https://w3hacks.com/events">events</a> that we host!
        </p>
      </div>
    </div>
  </div>
  <script>
    function extend(event) {
      const panel = event.querySelector(".panel");
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
    }
  </script>
{% endblock %}
