{% extends 'home/base.html' %}
{% load static %}
{% block head %}
  <title>w3Hacks App</title>
  <link rel="stylesheet" href="{% static 'home/index.css' %}">
{% endblock %}
{% block body %}
  <div class="container">
    <div class="center-container text-center">
      <h1 class="heading-primary">Welcome to the w3Hacks Portal!</h1>
      <div class="cta-buttons mt-4">
        <a class="ghost-cta-button" href="/future-hackathons/">Look at future hackathons</a>
        <a class="solid-cta-button-light" href="http://hackathon.w3hacks.com">Compete in our Hackathon!</a>
      </div>
    </div>
  </div>
{% endblock %}
