{% extends 'home/base.html' %}
{% load static %}
{% block head %}
  <title>w3Hacks</title>
  <link rel="stylesheet" href="{% static 'home/index.css' %}">
  <meta name="description" content="w3Hacks is an online platform where anyone can learn industry-level software engineering through project-based learning and learning by doing! Whether you're a seasoned programmer or a semi-beginner, everyone has something to learn here!">
{% endblock %}
{% block body %}
  <header>
    <div class="container">
      <div class="header-grid">
        <div class="text-left">
          <h1 class="heading-primary text-left">Learn by doing.</h1>
          <h4 style="color: #ddd;" class="mb-3">w3Hacks is a platform where anyone can learn to code through real-world practices.</h4>
          <div class="cta-buttons">
            <button onclick="document.querySelector('#about').scrollIntoView({behavior: 'smooth'});" class="ghost-cta-button">Learn More</button>
            <a class="solid-cta-button-light" href="https://app.w3hacks.com/sign-up">Start Learning!</a>
          </div>
        </div>
        <img class="header-image" src="{% static 'img/images/code-review.svg' %}">
      </div>
    </div>
  </header>
  <img class="wave flip" src="{% static 'img/waves/wave.svg' %}">

  <div class="container">
    <div class="medium-container">
      <p class="quote">
        w3Hacks is an online platform for anyone to learn industry-level software engineering skills through project-based learning, trial and error, and getting their hands dirty in code!
      </p>
    </div>
  </div>

  <section id="features">
    <div class="container px-5">
      <h1 class="heading-secondary">Features</h1>
      <div class="feature">
        <img class="mobile-image" src="{% static 'img/illustrations/project.svg' %}">
        <div>
          <h1>Project-Based Learning</h1>
          <p>
            Learn how to build real-world applications and use modern frameworks & libraries by picking and completing project exercises from our large database!
          </p>
        </div>
        <img class="desktop-image" src="{% static 'img/illustrations/project.svg' %}">
      </div>
      <div class="feature">
        <img src="{% static 'img/illustrations/event.svg' %}">
        <div>
          <h1>Virtual Events</h1>
          <p>
            We have events ranging from hackathons, codeathons, and challenges here! It's the best way to get started in tech and learn something new!
          </p>
        </div>
      </div>
      <div class="feature">
        <img class="mobile-image" src="{% static 'img/illustrations/community.svg' %}">
        <div>
          <h1>Community</h1>
          <p>
            We try to have everyone feel at home by putting together a Discord community of software engineers, programmers, hackers, and more, all bonded together by w3Hacks!
          </p>
        </div>
        <img class="desktop-image" src="{% static 'img/illustrations/community.svg' %}">
      </div>
    </div>
  </section>

  <div class="wave-container">
    <section id="join">
      <div class="container">
        <div class="small-container sign-up-form text-center">
          <h1 class="heading-tertiary mb-4">Sign up today!</h1>
          <form action="https://app.w3hacks.com/sign-up/" method="post">
            {% csrf_token %}
            <div class="split">
              <input class="ghost-input-dark" type="text" name="first-name" placeholder="First Name" required>
              <input class="ghost-input-dark" type="text" name="last-name" placeholder="Last Name" required>
            </div>

            <input class="ghost-input-dark" type="email" name="email" placeholder="Email">
            <input class="ghost-input-dark" type="text" name="username" placeholder="Username">
            <input class="ghost-input-dark" type="password" name="password" placeholder="Password">

            <input class="solid-cta-button w-100" type="submit" value="Sign up!">
            <small>Already have an account? <a href="https://app.w3hacks.com/login/">Login</a></small>
          </form>
        </div>
      </div>
    </section>
    <img src="{% static 'img/waves/wave2.svg' %}">
  </div>
{% endblock %}
