{% extends 'home/base.html' %}
{% load static %}
{% block head %}
  <title>w3Hacks - Join us!</title>
  <link rel="stylesheet" href="{% static 'home/join.css' %}">
  <meta name="description" content="Join the w3Hacks team! We always have a lot of positions and opportunities open, so we encourage you to check it out and apply!">
{% endblock %}
{% block body %}
  <div class="container py-5">
    <div class="text-center mb-4">
      <h1 class="heading-secondary">Join us!</h1>
      <p>We're always looking for more people to join our team!</p>
    </div>
    <div class="opportunity-grid">
      <div class="opportunity">
        <h3>Curriculum Developer</h3>
        <p>
          We're looking for curriculum developers to consistently help us create exercise content for our users!
        </p>
        <h5>Responsibilies</h5>
        <ul class="pl-4">
          <li>Create project/quiz exercise content on a consistent basis</li>
          <li>Work with other curriculum developers to ideate new concepts</li>
          <li>Assist in creating content for our blog</li>
        </ul>
      </div>
      <div class="opportunity">
        <h3>Software Engineer</h3>
        <p>
          We need software engineers to help us build the main engine of w3Hacks and troubleshoot issues when they arise!
        </p>
        <h5>Responsibilies</h5>
        <ul class="pl-4">
          <li>Help with front-end UI design</li>
          <li>Build and troubleshoot server-side engine errors from users</li>
          <li>Assist curriculum developers when building out new exercises</li>
        </ul>
      </div>
      <div class="opportunity">
        <h3>Content Writer</h3>
        <p>
          To keep our blog up-to-date and consistent, we're looking for content writers to help write for our blog!
        </p>
        <h5>Responsibilies</h5>
        <ul class="pl-4">
          <li>Write weekly blog posts</li>
          <li>Work with fellow content writers to ideate new blog post ideas</li>
          <li>Help edit and revise fellow content writers' blog posts before publishing</li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
