{% extends 'home/base.html' %}
{% load static %}
{% block head %}
  <title>w3Hacks</title>
  <link rel="stylesheet" href="{% static 'home/landingpage.css' %}">
  <meta name="description" content="w3Hacks is an online platform where anyone can learn how to code! Whether you're a seasoned programmer or a semi-beginner, everyone has something to learn here! We reinforce and teach good, real-world programming skills that are used in the software engineering industry, and crucial skills for any developer to know whether they're making a solo project or working with others!">
{% endblock %}
{% block body %}
  <header>
    <div class="container">
      <div class="header-grid">
        <div class="text-left">
          <h1 class="heading-primary text-left">Learn by doing.</h1>
          <h4 style="color: #ddd;" class="mb-3">w3Hacks is a platform where anyone can learn to code through real-world practices.</h4>
          <div class="cta-buttons">
            <button onclick="document.querySelector('#about').scrollIntoView({behavior: 'smooth'});" class="ghost-cta-button">Learn More</button>
            <a class="solid-cta-button-light" href="/register/">Start Learning!</a>
          </div>
        </div>
        <img class="header-image" src="{% static 'img/images/code-review.svg' %}" alt="w3Hacks Header Illustration">
      </div>
    </div>
  </header>
  <div class="waves">
    <img class="wave flip" src="{% static 'img/waves/wave3.svg' %}">
    <img class="wave flip" src="{% static 'img/waves/wave2.svg' %}">
    <img class="wave flip" src="{% static 'img/waves/wave1.svg' %}">
  </div>
  <section class="about" id="about">
    <div class="container">
      <div class="about-grid">
        <img class="about-image" src="{% static 'img/images/code-type.svg' %}" alt="w3Hacks About Illustration">
        <div class="info">
          <h1 class="heading-secondary text-left">About w3Hacks</h1>
          <p class="about-description mb-4">
            w3Hacks is an online platform where anyone can learn how to code! Whether you're a seasoned programmer or a semi-beginner, everyone has something to learn here! We reinforce and teach good, real-world programming skills that are used in the software engineering industry, and crucial skills for any developer to know whether they're making a solo project or working with others!
          </p>
          <a href="/register/" class="solid-cta-button w-100 d-block">Sign up today!</a>
        </div>
      </div>
    </div>
  </section>
  <section class="why" id="why">
    <div class="container">
      <h1 class="heading-secondary text-left">Why w3Hacks?</h1>
      <div class="features mt-4">
        <div class="feature">
          <h3>
            <img class="feature-icon" src="{% static 'img/icons/suitcase.svg' %}" alt="w3Hacks Icon">
            Real-World Preparation
          </h3>
          <p>
            We provide real-world exercises that help you build skills that are used heavily in the software engineering industry. w3Hacks is the only resource that teachings industry-level skills, and we give <strong>tons</strong> resources to help you learn those skills.
          </p>
        </div>
        <div class="feature">
          <h3>
            <img class="feature-icon" src="{% static 'img/icons/medal.svg' %}" alt="w3Hacks Icon">
            Virtual Hackathons
          </h3>
          <p>
            We allow our users to express their creativity, as well as showcase their abilities through virtual hackathons. We consistently hold virtual hackathons where all of our users can participate in, no matter the skill level or age of the competitor.
          </p>
        </div>
        <div class="feature">
          <h3>
            <img class="feature-icon" src="{% static 'img/icons/help.svg' %}" alt="w3Hacks Icon">
            Help On-Demand
          </h3>
          <p>
            Programming is hard. So that's why we provide help and guidance on demand. We have a Discord server that anyone can join filled with other users and mentors, and we are completely open for technical questions on your projects or specific exercises!
          </p>
        </div>
        <div class="feature">
          <h3>
            <img class="feature-icon" src="{% static 'img/icons/competition.svg' %}" alt="w3Hacks Icon">
            Friendly Competition
          </h3>
          <p>
            For those who like a little competition, we rank our users by the amount of exercises they complete and hackathons they win, but as well as the quality of their projects/exercises. You are also rewarded credits for hackathons and completed exercises!
          </p>
        </div>
      </div>
    </div>
  </section>
  <div class="waves">
    <img class="wave no-flip" src="{% static 'img/waves/wave3.svg' %}">
    <img class="wave no-flip" src="{% static 'img/waves/wave2.svg' %}">
    <img class="wave no-flip" src="{% static 'img/waves/wave1.svg' %}">
  </div>
  <section class="footer">
    <div class="container mb-5">
      <div class="footer-grid">
        <div class="navigate">
          <h3>Navigate</h3>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/contact/">Contact</a></li>
            <li><a href="/login/">Login</a></li>
            <li><a href="/register/">Register</a></li>
          </ul>
        </div>
        <div class="launchtechllc">
          <h3>Launch Tech LLC</h3>
          <ul>
            <li><a href="https://www.launchtechllc.com/" target="_blank">Website</a></li>
            <li><a href="https://www.launchtechllc.com/about" target="_blank">Our Team</a></li>
            <li><a href="https://www.launchtechllc.com/projects" target="_blank">Other Products</a></li>
          </ul>
        </div>
        <div class="contact">
          <h3>Contact us!</h3>
          <ul>
            <li><a href="mailto:hello@w3hacks.com">hello@w3hacks.com</a></li>
            <li><a href="/contact/">Contact Page</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <div style="background-color: var(--color-primary); color: white">
    <div class="container py-1">
      <div class="row">
        <div class="col">
          <a href="https://www.launchtechllc.com/corporate/privacy-policy">Privacy Policy</a> | <a href="https://www.launchtechllc.com/corporate/terms-of-service">Terms of Service</a>
        </div>
        <div class="col text-right">
          <small>&copy; 2020 <a href="https://www.launchtechllc.com/" target="_">Launch Tech LLC</a>. All rights reserved.</small>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
