{% extends 'home/base.html' %}
{% load static %}
{% block head %}
  <title>w3Hacks App - w3Hacks User Leaderboards</title>
  <link rel="stylesheet" href="{% static 'home/leaderboards.css' %}">
{% endblock %}
{% block body %}
  <div class="body-container container">
    <h1 class="heading-secondary">Leaderboards</h1>
    <table class="mt-4">
      <tr>
        <th>Username</th>
        <th>Name</th>
        <th>Ranking Points</th>
      </tr>
      {% for profile in profiles %}
        <tr>
          <td>
            <a href="/@{{ profile.user.username }}">@{{ profile.user.username }}</a>
          </td>
          <td>{{ profile.user.first_name }} {{ profile.user.last_name }}</td>
          <td>{{ profile.ranking_points }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
