{% extends 'home/base.html' %}
{% load static %}
{% block head %}
  <title>w3Hacks App - w3Hacks User Leaderboards</title>
  <link rel="stylesheet" href="{% static 'home/leaderboards.css' %}">
{% endblock %}
{% block body %}
  <div class="body-container container">
    <h1 class="heading-secondary">Leaderboards</h1>

    <div class="hackers">
      {% for hacker in top_3_hackers %}
        <div class="hacker">
          <div class="image-cropper mb-3">
            {% if hacker.profile_picture %}
              <img src="{{ hacker.profile_picture.url }}">
            {% else %}
              <img src="{% static 'img/icons/user.png' %}">
            {% endif %}
          </div>
          <h3><a href="/@{{ hacker.user.username }}">{{ hacker.user.first_name }} {{ hacker.user.last_name }}</a></h3>
        </div>
      {% endfor %}
    </div>

    <table class="mt-4">
      <tr>
        <th>Username</th>
        <th>Name</th>
        <th>Ranking Points</th>
      </tr>
      {% for profile in profiles %}
        <tr>
          <td>
            <a href="/@{{ profile.user.username }}">@{{ profile.user.username }}</a>
          </td>
          <td>{{ profile.user.first_name }} {{ profile.user.last_name }}</td>
          <td>{{ profile.ranking_points }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
