{% extends 'home/base.html' %}
{% load static %}
{% block head %}
  <title>w3Hacks App - w3Hacks User Profile</title>
  <link rel="stylesheet" href="{% static 'home/profile.css' %}">
{% endblock %}
{% block body %}
  <div class="body-container container">
    <h1 class="heading-secondary">
      {% if profile == request.user.profile %}
        My
      {% endif %}
       Profile
    </h1>
    <div class="profile-header">
      <div class="profile-header-main">
        <div class="profile-header-main-left">
          {% if profile.profile_picture %}
            <div class="image-cropper">
              <img class="profile-picture" src="{{ profile.profile_picture.url }}" alt="">
            </div>
          {% else %}
            <img class="profile-picture" src="{% static 'img/icons/user.png' %}" alt="">
          {% endif %}
        </div>
        <div class="profile-header-main-right">
          <h1>
            <span>{{ profile.user.first_name }} {{ profile.user.last_name }}</span>
            {% if request.user.profile == profile %}
              <a style="float: right;" href="/@{{ request.user.username }}/edit">
                <img style="width: 25px;" src="{% static 'img/icons/edit.png' %}" alt="">
              </a>
            {% endif %}
          </h1>
          <p class="profile-description mt-3">
            <i>{{ profile.biography }}</i>
          </p>
          <div class="social-links mt-3">
            {% if profile.linkedin_profile %}
              <a target="_" href="{{ profile.linkedin_profile }}">
                <img src="{% static 'img/icons/social-media/linkedin.svg' %}" alt="" class="social-link-icon">
              </a>
            {% endif %}
            {% if profile.github_profile %}
              <a target="_" href="{{ profile.github_profile }}">
                <img src="{% static 'img/icons/social-media/github.svg' %}" alt="" class="social-link-icon">
              </a>
            {% endif %}
            {% if profile.twitter_profile %}
              <a target="_" href="{{ profile.twitter_profile }}">
                <img src="{% static 'img/icons/social-media/twitter.svg' %}" alt="" class="social-link-icon">
              </a>
            {% endif %}
            {% if profile.instagram_profile %}
              <a target="_" href="{{ profile.instagram_profile }}">
                <img src="{% static 'img/icons/social-media/instagram.svg' %}" alt="" class="social-link-icon">
              </a>
            {% endif %}
            {% if profile.facebook_profile %}
              <a target="_" href="{{ profile.facebook_profile }}">
                <img src="{% static 'img/icons/social-media/facebook.svg' %}" alt="" class="social-link-icon">
              </a>
            {% endif %}
            {% if profile.twitch_profile %}
              <a target="_" href="{{ profile.twitch_profile }}">
                <img src="{% static 'img/icons/social-media/twitch.svg' %}" alt="" class="social-link-icon">
              </a>
            {% endif %}
            {% if profile.personal_website %}
              <a target="_" href="{{ profile.personal_website }}">
                <img src="{% static 'img/icons/social-media/personal-website.svg' %}" alt="" class="social-link-icon">
              </a>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="profile-header-right">
        {% if profile.education %}
          <div class="profile-element">
            <small>Education</small><br>
            <p>{{ profile.education }}</p>
          </div>
        {% endif %}

        {% if profile.birthday %}
          <div class="profile-element">
            <small>Birthday</small><br>
            <p>{{ profile.birthday }}</p>
          </div>
        {% endif %}

        {% if profile.location %}
          <div class="profile-element">
            <small>Location</small><br>
            <p>{{ profile.location }}</p>
          </div>
        {% endif %}

        {% if profile.skills %}
          <div class="profile-element">
            <small>Skills</small><br>
            <div class="skills">
              {% for skill in profile.skills %}
                <span class="skill">{{ skill }}</span>
              {% endfor %}
            </div>
          </div>
        {% endif %}

        <div class="profile-element">
          <small>Joined</small>
          <p>{{ profile.joined_date }}</p>
        </div>
      </div>
    </div>
    <div class="profile-body">
      <div class="project-container">
        <h1 class="heading-tertiary">Completed Exercises</h1>
        <div class="exercise-type">
          <h3 class="heading-fourth">Project Exercises</h3>
          {% if completed_project_exercises %}
            <div class="exercises">
              {% for exercise in completed_project_exercises %}
                <div class="exercise">
                  <h5>{{ exercise.project_exercise.name }}</h5>
                  <p>{{ exercise.project_exercise.description }}</p>
                  <a class="view-exercise-link" class="view-exercise-link" href="/exercises/project-exercises/exercise/?id={{ exercise.project_exercise.id }}">
                    <img class="view-exercise-icon" src="{% static 'img/icons/out.png' %}" alt="">
                  </a>
                </div>
              {% endfor %}
            </div>
          {% else %}
            <small>No completed project exercises yet!</small>
          {% endif %}
        </div>

        <div class="exercise-type">
          <h3 class="heading-fourth">Quiz Exercises</h3>
          {% if completed_quiz_exercises %}
            <div class="exercises">
              {% for exercise in completed_quiz_exercises %}
                <div class="exercise">
                  <h5>{{ exercise.quiz_exercise.name }}</h5>
                  <p>{{ exercise.quiz_exercise.description }}</p>
                  <a class="view-exercise-link" href="/exercises/quiz-exercises/exercise/?id={{ exercise.quiz_exercise.id }}">
                    <img class="view-exercise-icon" src="{% static 'img/icons/out.png' %}" alt="">
                  </a>
                </div>
              {% endfor %}
            </div>
          {% else %}
            <small>No completed quiz exercises yet!</small>
          {% endif %}
        </div>
      </div>

      <div class="profile-body">
        <div class="hackathon-container">
          <h1 class="heading-tertiary">Hackathons</h1>
          <div class="hackathons">
            {% if past_hackathons %}
              <ul>
                {% for hackathon in past_hackathons %}
                  <li>
                    <a href="http://hackathon.w3hacks.com/{{ hackathon.id }}/">{{ hackathon.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% else %}
              <small>No hackathons competed in yet!</small>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
