{% extends 'home/base.html' %}
{% load static %}
{% block head %}
  <title>w3Hacks - Register and Join the w3Hacks Portal!</title>
  <link rel="stylesheet" href="{% static 'home/login-register.css' %}">
{% endblock %}
{% block body %}
<style>
  input, textarea {
    color: black;
  }
</style>
  <div class="waves">
    <img class="wave flip" src="{% static 'img/waves/wave6.svg' %}" alt="">
    <img class="wave flip" src="{% static 'img/waves/wave5.svg' %}" alt="">
    <img class="wave flip" src="{% static 'img/waves/wave4.svg' %}" alt="">
  </div>
  <div class="container pb-5">
    <h1 class="heading-secondary">Register</h1>
    <form enctype="multipart/form-data" method="post">
      {% csrf_token %}

      <!-- Django User fields -->
      <div>
        <label>First Name: *</label><br>
        <input class="ghost-input-dark mb-3" type="text" name="first-name" placeholder="First Name" required>
      </div>
      <div>
        <label>Last Name: *</label><br>
        <input class="ghost-input-dark mb-3" type="text" name="last-name" placeholder="Last Name" required>
      </div>
      <div>
        <label>Email: *</label><br>
        <input class="ghost-input-dark mb-3" type="email" name="email" placeholder="Email" required>
      </div>
      <div>
        <label>Username: *</label><br>
        <input class="ghost-input-dark mb-3" type="text" name="username" placeholder="Username" required>
      </div>
      <div>
        <label>Password: *</label><br>
        <input class="ghost-input-dark mb-3" type="password" name="password" placeholder="Password" required>
      </div>

      <!-- Custom profile fields -->
      <!-- <div>
        <label>Biography:</label><br>
        <textarea name="biography" rows="5" placeholder="Biography"></textarea>
      </div>
      <div>
        <label>Birthday:</label><br>
        <input type="date" name="birthday" placeholder="Birthday" max="{{today}}">
      </div>
      <div>
        <label>Education:</label><br>
        <input type="text" name="education" placeholder="Education">
      </div>
      <div>
        <label>Profile Picture:</label><br>
        <input type="file" name="profile-picture" placeholder="Profile Picture" accept="image/png, image/jpeg, image/jpg">
      </div>
      <div>
        <label>Skills: (separate each by comma no space)</label><br>
        <input type="text" name="skills" placeholder="Skills">
      </div> -->

      <!-- Social Links -->
      <!-- <div class="form-input-group">
        <label>GitHub:</label><br>
        <input type="url" name="github-profile" placeholder="GitHub Profile Link">
      </div>
      <div class="form-input-group">
        <label>LinkedIn:</label><br>
        <input type="url" name="linkedin-profile" placeholder="LinkedIn Profile Link">
      </div>
      <div class="form-input-group">
        <label>Twitter:</label><br>
        <input type="url" name="twitter-profile" placeholder="Twitter Profile Link">
      </div>
      <div class="form-input-group">
        <label>Instagram:</label><br>
        <input type="url" name="instagram-profile" placeholder="Instagram Profile Link">
      </div>
      <div class="form-input-group">
        <label>Facebook:</label><br>
        <input type="url" name="facebook-profile" placeholder="Facebook Profile Link">
      </div>
      <div class="form-input-group">
        <label>Twitch:</label><br>
        <input type="url" name="twitch-profile" placeholder="Twitch Profile Link">
      </div>
      <div class="form-input-group">
        <label>Personal Website:</label><br>
        <input type="url" name="personal-website" placeholder="Personal Website">
      </div> -->

      <div class="text-center">
        <input class="solid-cta-button w-100" type="submit" value="Register">
        <small>Already have an account? <a href="/login/">Login Here</a></small>
      </div>
    </form>
  </div>
{% endblock %}
