{% extends 'home/base.html' %}
{% load static %}
{% block head %}
  <title>w3Hacks - Team</title>
  <link rel="stylesheet" href="{% static 'home/team.css' %}">
  <meta name="description" content="Here's our amazing team that makes up w3Hacks and that continues to help others learning coding, programming, and software engineering on a daily basis!">
{% endblock %}
{% block body %}
  <div class="container py-5">
    <h1 class="heading-secondary mb-4">Meet the Team!</h1>
    <div class="team-grid">
      <div class="member">
        <div class="image-cropper">
          <img src="{% static 'img/people/calix.jpg' %}" alt="Calix Huang">
        </div>
        <div class="member-info">
          <h3>Calix Huang</h3>
          <p>Founder and Creator</p>
          <div class="member-social-links">
            <a href="https://www.instagram.com/calix_huang/" target="_blank">
              <img src="{% static 'img/icons/social-media/instagram.svg' %}">
            </a>
            <a href="https://github.com/calixo888" target="_blank">
              <img src="{% static 'img/icons/social-media/github.svg' %}">
            </a>
            <a href="https://www.linkedin.com/in/calix-huang/" target="_blank">
              <img src="{% static 'img/icons/social-media/linkedin.svg' %}">
            </a>
            <a href="https://www.calix.dev/" target="_blank">
              <img src="{% static 'img/icons/social-media/personal-website.svg' %}">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
