{% extends 'home/base.html' %}
{% load static %}
{% block head %}
  <title>w3Hacks - Password Reset Complete!</title>
  <link rel="stylesheet" href="{% static 'registration/base.css' %}">
{% endblock %}
{% block body %}
  <div class="thin-container">
    <h2 class="mb-4">Password Reset Complete!</h2>
    <p>
      Your password has been successfully reset. You may go ahead and login now.
    </p>

    <div class="text-center">
      <a href="/login/" class="btn btn-outline-primary">Login</a>
    </div>
  </div>
{% endblock %}
