{% extends 'home/base.html' %}
{% load static %}
{% block head %}
  <title>w3Hacks - Forgot Password</title>
  <link rel="stylesheet" href="{% static 'registration/base.css' %}">
{% endblock %}
{% block body %}
  <div class="thin-container">
    <h2 class="heading-tertiary">Forgot password</h2>
    <p>
      Forgot your password? Just input the email you have registered for your account and we'll send you a password reset link.
    </p>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" class="solid-cta-button w-100 d-block" value="Reset Password">
    </form>
  </div>

  <script>
    document.querySelector("input[type='email']").className = "ghost-input-dark"
    document.querySelector("input[type='email']").placeholder = "Email"

    document.querySelector("label").style.display = "none"
  </script>
{% endblock %}
