{% extends 'home/base.html' %}
{% load static %}
{% block head %}
  <title>w3Hacks - Password Reset Complete!</title>
  <meta name="robots" content="noindex, nofollow">
  <link rel="stylesheet" href="{% static 'registration/base.css' %}">
{% endblock %}
{% block body %}
  <div class="thin-container">
    <h2 class="heading-tertiary mb-4">Password Reset Complete!</h2>
    <p>
      Your password has been successfully reset. You may go ahead and login now.
    </p>

    <a href="/login/" class="solid-cta-button w-100 d-block">Login</a>
  </div>
{% endblock %}
