{% extends 'app/base.html' %}
{% load static %}
{% block head %}
  <title>w3Hacks App - About the w3Hacks Hackathon</title>
  <link rel="stylesheet" href="{% static 'app/hackathon/about-the-hackathon.css' %}">
{% endblock %}
{% block body %}
  <div class="body-container container">
    <h1 class="heading-secondary">About the w3Hacks Hackathon</h1>
    <div class="faqs mt-4">
      <div class="faq">
        <h3 class="heading-fourth">FAQ</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
      <div class="faq">
        <h3 class="heading-fourth">FAQ</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
      <div class="faq">
        <h3 class="heading-fourth">FAQ</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
      <div class="faq">
        <h3 class="heading-fourth">FAQ</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
