{% extends 'app/base.html' %}
{% load static %}
{% block head %}
  <title>w3Hacks App - Past w3Hacks Hackathons</title>
  <link rel="stylesheet" href="{% static 'app/hackathon/past-future-hackathons.css' %}">
{% endblock %}
{% block body %}
  <div class="body-container container">
    <h1 class="heading-secondary">Past Hackathons</h1>
    {% if past_hackathons %}
      <div class="hackathons mt-4">
        {% for hackathon in past_hackathons %}
          <div class="hackathon">
            <h3>{{ hackathon.title }}</h3>
            <div>
              <strong>Type:</strong> {{ hackathon.type }}
            </div>
            <div>
              <strong>Date:</strong> {{ hackathon.start_date }} - {{ hackathon.end_date }}
            </div>
            <p>
              <strong>Description:</strong> {{ hackathon.description }}
            </p>
            <a class="view-hackathon" href="http://hackathon.w3hacks.com/{{ hackathon.id }}/">
              <img src="{% static 'img/out.png'%}" alt="">
            </a>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <div class="text-center mt-4">
        <small>No past hackathons yet!</small>
      </div>
    {% endif %}
  </div>
{% endblock %}
