{% extends 'home/base.html' %}
{% load static %}
{% block head %}
  <title>w3Hacks App - Take Quiz</title>
  <link rel="stylesheet" href="{% static 'home/exercises/quiz-exercises/take-quiz.css' %}">
  <link rel="stylesheet" href="{% static 'external/loading-bar.css' %}">
  <script src="{% static 'external/loading-bar.js' %}" charset="utf-8"></script>
{% endblock %}
{% block body %}
  <div class="body-container container">
    {% if user_already_taken_quiz %}
      <h1 class="heading-tertiary">{{ quiz.name }}</h1>
      <div class="mb-4">
        <strong>You have already taken this quiz.</strong>
      </div>
      <a href="../quiz-results/?id={{ quiz.id }}" class="solid-cta-button">See Results</a>
    {% else %}
      <h1>{{ quiz.name }}</h1>
      <div id="quiz-container">
        <p><strong id="question"></strong></p>
        <ul id="answers"></ul>

        <button class="solid-cta-button" onclick="getQuestion(false)">Next Question</button>

        <div class="mt-2">
          <small id="question-count"></small>
        </div>
      </div>

      <script>
        // Initalizing variables passed from server here for external JS
        let questions = {{ questions|safe }};
        const quiz_id = "{{ quiz.id }}";
        console.log(quiz_id);
      </script>
      <script src="{% static 'js/take-quiz.js' %}" charset="utf-8"></script>
    {% endif %}
  </div>
{% endblock %}
