body {
  background-color: #eee;
  min-height: 100vh;
}

.heading-banner {
  height: 200px;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
}

.heading-banner * {
  color: white;
}

.form-input-group {
  margin-bottom: 15px;
}

.form-input-group input, textarea {
  width: 100%;
}
