.index-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
}

.right {
  position: relative;
}

.themes, .awards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 15px
}

.theme, .award {
  background-color: var(--color-primary-light);
  padding: 15px;
  border-radius: 5px;
}

.theme *, .award * {
  color: white;
}

.info-box {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--color-primary);
  padding: 20px;
  border-radius: 5px;
  width: 400px;
}

.info-box * {
  color: white;
}

.info-box *:not(:last-child) {
  margin-bottom: 15px;
}
