@media (max-width: 1000px) {
  /* INDEX PAGE */
  /* Collapsing row */
  .index-grid {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)) !important;
  }

  /* Fixing info box overflow */
  .info-box {
    width: 100% !important;
  }
}


@media (max-width: 600px) {
  .submit-grid {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)) !important;
    grid-gap: 15px !important;
  }
}
