{% extends 'app/base.html' %}
{% load static %}
{% block head %}
  <title>w3Hacks App - {{ exercise.name }}</title>
{% endblock %}
{% block body %}
  <div class="body-container container">
    <h1 class="heading-tertiary">Project Exercise: {{ exercise.name }}</h1>
    <div class="information mt-4">
      <p id="markdown"></p>
      <p>
        <strong>Implementation:</strong> {{ exercise.implementation.name }}
      </p>
      <p>
        <strong>Difficulty Level:</strong> {{ exercise.difficulty_level.name }}
      </p>
      {% if exercise.prerequisites %}
        <div class="prerequisites mt-3">
          <h4>Pre-Requisites</h4>
          <ul class="ml-5">
            {% for prerequisite in exercise.prerequisites %}
              <li>{{ prerequisite }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      {% if resources %}
        <div class="resource mt-3">
          <h4>Resources</h4>
          <ul class="ml-5">
            {% for resource in resources %}
              <li><a href="{{ resource.link }}" target="_">{{ resource.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>
    {% if user_already_completed_project %}
      <div class="completed-container">
        <strong>You already completed this project!</strong>
        <p>GitHub Link: <a href="{{ completed_project_exercise.github_link }}" target="_">{{ completed_project_exercise.github_link }}</a> (check this for updates on your project!)</p>
        {% if completed_project_exercise.score and completed_project_exercise.feedback %}
          <p>Score: {{ completed_project_exercise.score }}/10</p>
          <p>Feedback: {{ completed_project_exercise.feedback }}</p>
          <div class="submit mt-4">
            <h3 class="heading-fourth">Resubmit</h3>
            <form enctype="multipart/form-data" method="post">
              {% csrf_token %}
              <input class="ghost-input-dark d-inline-block w-auto" type="url" name="github-link" placeholder="GitHub Link">
              <input class="solid-cta-button" type="submit" value="Submit project">
            </form>
          </div>
        {% else %}
          <p><strong>This project hasn't been scored yet!</strong></p>
        {% endif %}
      </div>
    {% else %}
      <div class="submit mt-4">
        <h3 class="heading-fourth">Submit</h3>
        <form enctype="multipart/form-data" method="post">
          {% csrf_token %}
          <input class="ghost-input-dark d-inline-block w-auto" type="url" name="github-link" placeholder="GitHub Link">
          <input class="solid-cta-button" type="submit" value="Submit project">
        </form>
      </div>
    {% endif %}
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js" charset="utf-8"></script>
  <script>
    const converter = new showdown.Converter();
    const markdown = document.getElementById("markdown");
    const html = converter.makeHtml(`{{ exercise.description }}`);
    markdown.innerHTML = html;
  </script>
{% endblock %}
