{% extends 'app/base.html' %}
{% load static %}
{% block head %}
  <title>w3Hacks App - All Project Exercises</title>
  <link rel="stylesheet" href="{% static 'app/exercises/global-exercise-styles.css' %}">
  <link rel="stylesheet" href="{% static 'app/exercises/project-exercises/project-exercises.css' %}">
{% endblock %}
{% block body %}
  <div class="body-container container">
    <h1 class="heading-secondary">Project Exercises</h1>
    <!-- <div class="dropdown">
      <button onclick="filterDropDown()" class="dropbtn">Difficulty Level</button>
      <div id="myDropdown" class="dropdown-content">
          <button onclick="diff_easy()">Easy</button>
          <button onclick="diff_medium()">Medium</button>
          <button onclick="diff_hard()">Hard</button>
      </div>
    </div> -->

    {% if exercises %}
      <div class="exercises">
        {% for exercise in exercises %}
          <a class="exercise-link" href="exercise/?id={{ exercise.id }}">
            <div class="exercise">
              <img class="exercise-icon" src="{% static 'img/icons/project-light.svg' %}" alt="">
              <div class="exercise-info">
                <h5>{{ exercise.name }}</h5>
                <p>{{ exercise.preview }}</p>
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
    {% else %}
      <div class="text-center mt-4">
        <small>No project exercises yet!</small>
      </div>
    {% endif %}
  </div>
  <!-- <script>
    function filterDropDown() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    function diff_hard() {
        document.querySelector(".cardOuter").style.display = 'none';
    }
  </script> -->
{% endblock %}
