{% extends 'staff/base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'staff/hackathons.css' %}">
{% endblock %}
{% block body %}
  <div class="container">
    <h1>Hackathons</h1>
    <div class="hackathons">
      <div class="hackathon">
        <a href="/edit-hackathon/">
          <h3>Hackathon</h3>
          <div>
            <strong>Type:</strong> High School
          </div>
          <div>
            <strong>Themes:</strong> Best use of API, etc.
          </div>
          <div>
            <strong>Awards:</strong> Best use of an API, Best use of MongoDB
          </div>
        </a>
      </div>
      <div class="hackathon">
        <a href="/edit-hackathon/">
          <h3>Hackathon</h3>
          <div>
            <strong>Type:</strong> High School
          </div>
          <div>
            <strong>Themes:</strong> Best use of API, etc.
          </div>
          <div>
            <strong>Awards:</strong> Best use of an API, Best use of MongoDB
          </div>
        </a>
      </div>
      <div class="hackathon">
        <a href="/edit-hackathon/">
          <h3>Hackathon</h3>
          <div>
            <strong>Type:</strong> High School
          </div>
          <div>
            <strong>Themes:</strong> Best use of API, etc.
          </div>
          <div>
            <strong>Awards:</strong> Best use of an API, Best use of MongoDB
          </div>
        </a>
      </div>
      <div class="hackathon">
        <a href="/edit-hackathon/">
          <h3>Hackathon</h3>
          <div>
            <strong>Type:</strong> High School
          </div>
          <div>
            <strong>Themes:</strong> Best use of API, etc.
          </div>
          <div>
            <strong>Awards:</strong> Best use of an API, Best use of MongoDB
          </div>
        </a>
      </div>
      <div class="hackathon">
        <a href="/edit-hackathon/">
          <h3>Hackathon</h3>
          <div>
            <strong>Type:</strong> High School
          </div>
          <div>
            <strong>Themes:</strong> Best use of API, etc.
          </div>
          <div>
            <strong>Awards:</strong> Best use of an API, Best use of MongoDB
          </div>
        </a>
      </div>
    </div>
  </div>
{% endblock %}
