@import "./breadcrumbs.css";

nav {
  background-color: var(--color-primary);
}

section {
  padding: 50px;
}

.flip {
  transform: rotate(180deg);
  top: -5px;
}

.no-flip {
  bottom: 0;
}

.wave {
  position: absolute;
}

.dropdown-toggle::after {
  vertical-align: .06em !important;
}
