body {
  position: relative;
}

header {
  background-color: var(--color-primary);
}

/* HEADER */
.header-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding-top: 50px;
  grid-gap: 50px;
  height: 100%;
}

.header-grid * {
  color: white;
}

.header-image {
  width: 75%;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  /* Fixing the header and about section (getting rid of image and grid) */
  header {
    min-height: auto !important;
    padding: 50px 0;
  }

  .header-grid, .about-grid {
    padding-top: 0 !important;
    grid-template-columns: repeat(auto-fill, 100%) !important;
  }

  .header-image {
    display: none;
  }
}

/* QUOTE */
.quote {
  text-align: center;
  font-size: 22.5px;
  font-weight: bold;
  border-top: 1px solid var(--color-primary);
  border-bottom: 1px solid var(--color-primary);
  padding: 25px 0;
}

.wave-container {
  position: relative;
}

.wave-container > img {
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.feature {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  align-items: center;
  padding: 50px 0;
}

.feature img {
  width: 60%;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .feature {
    grid-template-columns: repeat(auto-fill, 100%) !important;
    grid-gap: 15px;
  }

  .feature img {
    width: 75%;
  }
}

.sign-up-form {
  background-color: rgba(255, 255, 255, .8);
  border-radius: 4px;
  box-shadow: 0 5px 30px rgba(0,0,0,.15);
  padding: 30px;
  border: 2px solid var(--color-primary);
}

.sign-up-form .split {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}

.sign-up-form form > * {
  margin-bottom: 15px;
}

@media (max-width: 600px) {
  .sign-up-form .split {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100%);
    grid-gap: 15px;
  }
}
