* {
  margin: 0;
}

body {
  position: relative;
}

nav {
  background-color: var(--color-primary);
}

header {
  background-color: var(--color-primary);
  min-height: 75vh;
}

section {
  padding: 50px;
}

.header-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding-top: 100px;
  grid-gap: 50px;
  height: 100%;
}

.header-grid * {
  color: white;
}

.right {
  position: relative;
}

.right * {
  position: absolute;
}

.header-image, .about-image {
  width: 100%;
  width: 75%;
  margin: 0 auto;
}

.container {
  height: 100%;
}

.about-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  align-items: center;
}

.about-description {
  font-size: 20px;
  color: #464646;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 30px;
}

.feature p {
  font-size: 14px;
  margin-left: 52.5px;
  color: #464646;
}

.feature-icon {
  width: 40px;
  margin-right: 5px;
  transform: translateY(-4px);
}

.contact {
  background-color: var(--color-primary);
}

.contact * {
  color: white;
}

.contact-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px;
}

.contact-info {
  text-align: right;
}

.contact-info-item {
  margin: 15px 0;
}

.contact-info-item img {
  width: 40px;
  transform: translateY(-1px);
}

.contact-info-item span {
  margin: 0 10px;
}

.contact-info-item a:hover {
  color: white;
}

.contact-info-item-mobile {
  display: none;
}

.copyright {
  position: absolute;
  bottom: 5px;

  width: 100%;
  color: white;
}
