table {
  border-collapse: collapse;
  width: 100%;
}

th {
	background-color: var(--color-primary);
}

td, th {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  color: white;
}
