.hackers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  width: 500px;
  margin: 50px auto;
}

.hacker {
  text-align: center;
}

.image-cropper, img {
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
	background-color: var(--color-primary);
}

td, th {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  color: white;
}
