nav {
  background-color: var(--color-primary);
}

form {
  width: 300px;
  margin: auto;
}

@media (max-width: 500px) {
  form {
    width: 90% !important;
  }
}

/* FORM STYLES */
#registerBtn {
  display: none;
}

input.invalid {
  background-color: #ffdddd;
}

.tab {
  display: none;
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

.step.finish {
  background-color: var(--color-primary-light);
}
