@media (min-width: 1600px) {
  .waves {
    height: 300px !important;
  }
}

@media (max-width: 1000px) {
  /* Fixing the header and about section (getting rid of image and grid) */
  header {
    min-height: auto !important;
    padding: 50px 0;
  }

  .header-grid, .about-grid {
    padding-top: 0 !important;
    grid-template-columns: repeat(auto-fill, 100%) !important;
  }

  .about {
    margin-bottom: 50px;
  }
}


@media (max-width: 1000px) {
  /* Shortening waves height */
  .waves {
    height: 150px !important;
  }
}


@media (max-width: 800px) {
  /* Shortening waves height */
  .waves {
    height: 100px !important;
  }

  /* Making contact grid collapsable */
  .contact-grid {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)) !important;
    grid-gap: 30px !important;
  }

  .contact-info {
    text-align: left !important;
  }

  /* Lessening gap between features */
  .features {
    grid-gap: 30px !important;
  }

  /* Making mobile contact info item visible */
  .contact-info-item-mobile {
    display: block !important;
  }

  .contact-info-item-desktop {
    display: none !important;
  }
}


@media (max-width: 600px) {
  /* Removing padding from sections  */
  section {
    padding: 0 !important;
  }

  /* Fixing overflowing about grid */
  .questions {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)) !important;
  }

  /* Adding padding to bottom of contact section */
  .contact {
    padding-bottom: 40px !important;
  }

  /* Making about description font smaller */
  .about-description {
    font-size: 17.5px !important;
  }

  /* INDEX PAGE */
  /* Making center container statically positioned */
  .center-container {
    position: static !important;
    transform: none !important;
    padding: 50px 0;
  }

  /* Fixing CTA buttons */
  .cta-buttons {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)) !important;
  }

  /* Fixing centered collapsed navbar */
  .navbar-nav {
    display: block !important;
  }

  /* Collapsing edit profile grid */
  .edit-profile-grid {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)) !important;
  }
}
