.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 100px;
}

.member {
  text-align: center;
}

.image-cropper, img {
  width: 100%;
}

.image-cropper {
  margin-bottom: 15px;
}
