.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
}

.member {
  display: grid;
  grid-template-columns: 90px 1fr;
  grid-gap: 25px;
  align-items: center;
}

.member-social-links {
  display: flex;
  flex-direction: row;
}

.member-info * {
  margin-bottom: 5px !important;
}

.member-social-links img {
  width: 25px;
  margin-right: 7.5px;
}

.image-cropper, img {
  width: 100%;
}
