.profile-header {
  display: grid;
  grid-template-columns: 70% 30%;
  height: 250px;
  margin-top: 30px;

  border: 3px solid var(--color-primary);
  border-radius: 5px;
}

.profile-header > * {
  padding: 20px;
}

.profile-header-main {
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-gap: 50px;
}

.profile-header-main {
  border-right: 2px solid #ccc;
}

.profile-header-right {
  overflow-y: scroll;
}

.profile-picture {
  width: 100%;
}

.profile-body {
  display: grid;
  grid-template-columns: 70% 30%;
}

.profile-body > * {
  padding: 20px;
}

.profile-description {
  color: #707070;
}

.profile-element:not(:first-child) {
  margin-top: 20px;
}

.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.skill {
  background-color: var(--color-primary);
  padding: 2.5px 5px;
  border-radius: 3px;
  color: white;
  margin: 2.5px 5px 2.5px 0;
  font-size: 13px;
}

.achievements {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 15px;
}

.achievement {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 10px;
  align-items: center;

  padding: 10px;
  border-radius: 5px;

  box-shadow: 0 5px 10px rgba(0,0,0,.3);
}

.achievement img {
  width: 100%;
}

.achievement p {
  line-height: 130%;
  font-size: 12.5px;
  margin-bottom: 0 !important;
}

.exercise-type {
  margin-top: 30px;
}

.exercises {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 15px;
}

.exercise {
  position: relative;

  background-color: var(--color-primary-light);
  border-radius: 4px;
  padding: 15px;
}

.exercise * {
  color: white;
}

.view-exercise-link {
  position: absolute;
  top: 10px;
  right: 15px;
}

.view-exercise-icon {
  width: 20px;
}

.social-links {
  display: grid;
  grid-template-columns: repeat(auto-fill, 25px);
  grid-gap: 17.5px;
}

.social-link-icon {
  width: 100%;
}
