@media (max-width: 600px) {
  /* INDEX PAGE */
  /* Making center container statically positioned */
  .center-container {
    position: static !important;
    transform: none !important;
    padding: 50px 0;
  }

  /* Fixing CTA buttons */
  .cta-buttons {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)) !important;
  }

  /* Fixing centered collapsed navbar */
  .navbar-nav {
    display: block !important;
  }

  /* Collapsing edit profile grid */
  .edit-profile-grid {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)) !important;
  }
}
