{% extends 'errors/base.html' %}
{% load static %}
{% block head %}
  <title>w3hacks - {{ title }}</title>
  <link rel="stylesheet" href="{% static 'home/index.css' %}">
{% endblock %}
{% block body %}
  <div class="body-container container">
    <div class="message">
      <h1 class="heading-secondary text-left">{{ title }}</h1>
      <p class="my-4">
        {{ content }}
        <br><br>
        If you really think this is an issue, please feel free to <a href="https://w3hacks.com/contact/">contact us</a> and we will get back to you within 24-48 hours!
      </p>

      <a href="https://w3hacks.com/" class="solid-cta-button-light w-100 d-block">Back to w3Hacks home</a>
    </div>
  </div>
{% endblock %}
