{% extends 'errors/base.html' %}
{% load static %}
{% block head %}
  <title>w3hacks - User Not Found</title>
  <link rel="stylesheet" href="{% static 'landingpage/index.css' %}">
{% endblock %}
{% block body %}
  <div class="body-container container">
    <div class="message">
      <h1 class="heading-secondary text-left">User Not Found</h1>
      <p class="my-4">
        We're sorry, but we couldn't find the user you were looking for! That user has either been removed, or never existed in the first place. Please go back to the previous page if possible.
        <br><br>
        If you really think this is an issue, please feel free to <a href="http://www.w3hacks.com/contact/">contact us</a> and we will get back to you within 24-48 hours!
      </p>

      <a href="http://www.w3hacks.com/" class="solid-cta-button-light w-100 d-block">Back to w3Hacks home</a>
    </div>
  </div>
{% endblock %}
