{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">
    <link rel="stylesheet" href="{% static 'app/queries.css' %}">
    <link rel="stylesheet" href="{% static 'global/global.css' %}">
    <link rel="stylesheet" href="{% static 'global/components.css' %}">
    <link rel="stylesheet" href="{% static 'app/base.css' %}">
    <link rel="stylesheet" href="{% static 'cdn/bootstrap/bootstrap.min.css' %}">
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-dark">
      <div class="container">
        <a class="navbar-brand" href="/">w3Hacks Resource Links</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-target">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-target">
          <ul class="navbar-nav ml-auto" style="display: flex; align-items: center;">
            <li class="nav-item">
                <a class="nav-link" href="https://w3hacks.com">w3Hacks Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://app.w3hacks.com">App</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {% block body %}
    {% endblock %}

    <section class="footer">
      <div class="container mb-5">
        <div class="footer-grid">
          <div>
            <h1>w3Hacks</h1>
            <p>
              An online platform for anyone to learn software engineering.
            </p>
            <div class="mt-3">
              <small>&copy; 2020 Launch Tech LLC. All rights reserved.</small>
            </div>
          </div>
          <div>
            <h3>Resources</h3>
            <ul>
              <li><a href="/events/">Events</a></li>
              <li><a href="/blog/">Blog</a></li>
              <li><a href="https://links.w3hacks.com/">Links</a></li>
              <li><a href="https://api.w3hacks.com/">API</a></li>
              <li><a href="/join/">Join us!</a></li>
              <li><a href="#">Join the Community!</a></li>
            </ul>
          </div>
          <div>
            <h3>About</h3>
            <ul>
              <li><a href="https://www.launchtechllc.com/" target="_blank">Launch Tech LLC</a></li>
              <li><a href="https://github.com/launchtechllc/w3hacks" target="_blank">Open Source</a></li>
              <li><a href="/team/">Team</a></li>
              <li><a href="https://www.launchtechllc.com/partners">Partners</a></li>
              <li><a href="https://www.launchtechllc.com/corporate/terms-of-service">Terms of Service</a></li>
              <li><a href="https://www.launchtechllc.com/corporate/privacy-policy">Privacy Policy</a></li>
            </ul>
          </div>
          <div class="contact">
            <h3>Contact us!</h3>
            <ul>
              <li><a href="mailto:hello@w3hacks.com">hello@w3hacks.com</a></li>
            </ul>
            <div class="social-links">
              <a href="https://www.instagram.com/launchtechllc/" target="_blank">
                <img src="{% static 'img/icons/social-media/instagram-light.svg' %}">
              </a>
              <a href="https://www.linkedin.com/company/launch-tech-llc/" target="_blank">
                <img src="{% static 'img/icons/social-media/linkedin-light.svg' %}">
              </a>
              <a href="https://github.com/launchtechllc/w3hacks" target="_blank">
                <img src="{% static 'img/icons/social-media/github-light.svg' %}">
              </a>
              <a href="https://trello.com/b/1fKxWeZI/w3hacks" target="_blank">
                <img src="{% static 'img/icons/social-media/trello-light.svg' %}">
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div style="background-color: var(--color-primary); color: white">
      <div class="container py-1">
        <div class="row">
          <div class="col">
            <a href="https://www.launchtechllc.com/corporate/privacy-policy">Privacy Policy</a> | <a href="https://www.launchtechllc.com/corporate/terms-of-service">Terms of Service</a>
          </div>
          <div class="col text-right">
            <small>&copy; 2020 <a href="https://www.launchtechllc.com/" target="_">Launch Tech LLC</a>. All rights reserved.</small>
          </div>
        </div>
      </div>
    </div>

    <script src="{% static 'cdn/js/jquery.js' %}"></script>
    <script src="{% static 'cdn/js/popper.min.js' %}"></script>
    <script src="{% static 'cdn/js/bootstrap.min.js' %}"></script>
  </body>
</html>
