{% extends 'links/base.html' %}
{% load static %}
{% block head %}
  <title>w3Hacks - Resource Links</title>
  <link rel="stylesheet" href="{% static 'app/leaderboards.css' %}">
{% endblock %}
{% block body %}
  <div style="background-color: #eee">
    <div class="small-container pt-0 text-center">
      <h1 class="heading-secondary">w3Hacks Resources</h1>
      <p>
        A table of all of the resources and links that are used in w3Hacks that are saved, linked, and created with aliases that are easy to remember!
      </p>
    </div>
  </div>
  <div class="container py-5">
    <table class="mt-4">
      <tr>
        <th>Name</th>
        <th>Link</th>
      </tr>
      {% for link in links %}
        <tr>
          <td>{{ link.title }}</td>
          <td>
            <a href="/{{ link.url_extension }}">links.w3hacks.com/{{ link.url_extension }}</a>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
