{% extends 'landingpage/base.html' %}
{% load static %}
{% block head %}
  <title>w3Hacks - Contact us!</title>
  <link rel="stylesheet" href="{% static 'landingpage/contact.css' %}">
{% endblock %}
{% block body %}
  <div class="container">
    <h1>Contact</h1>
    <div class="contact-grid">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <form method="post">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Name">
        <input type="email" name="email" placeholder="Email">
        <textarea name="message" rows="5" placeholder="Message"></textarea>
        <input class="btn btn-light" type="submit" value="Contact Us!">
      </form>
    </div>
  </div>
{% endblock %}
