{% extends 'landingpage/base.html' %}
{% load static %}
{% block head %}
  <title>w3Hacks - Login to our Portal!</title>
  <link rel="stylesheet" href="{% static 'landingpage/login-register.css' %}">
{% endblock %}
{% block body %}
<style>
  input, textarea {
    color: black;
  }
</style>
  <div class="waves">
    <img class="wave flip" src="{% static 'img/waves/wave6.svg' %}" alt="">
    <img class="wave flip" src="{% static 'img/waves/wave5.svg' %}" alt="">
    <img class="wave flip" src="{% static 'img/waves/wave4.svg' %}" alt="">
  </div>
  <div class="body-container container">
    <h1>Login</h1>
    <form method="post">
      {% csrf_token %}
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <input type="submit" value="Login">
    </form>
  </div>
{% endblock %}
