{% extends 'landingpage/base.html' %}
{% block body %}
<style>
  input, textarea {
    color: black;
  }
</style>
  <div class="container">
    <h1>Register</h1>
    <form enctype="multipart/form-data" method="post">
      {% csrf_token %}

      <!-- Django User fields -->
      <div>
        <label>First Name: *</label><br>
        <input type="text" name="first-name" placeholder="First Name" required>
      </div>
      <div>
        <label>Last Name: *</label><br>
        <input type="text" name="last-name" placeholder="Last Name" required>
      </div>
      <div>
        <label>Email: *</label><br>
        <input type="email" name="email" placeholder="Email" required>
      </div>
      <div>
        <label>Username: *</label><br>
        <input type="text" name="username" placeholder="Username" required>
      </div>
      <div>
        <label>Password: *</label><br>
        <input type="password" name="password" placeholder="Password" required>
      </div>

      <!-- Custom profile fields -->
      <div>
        <label>Biography:</label><br>
        <textarea name="biography" rows="5" placeholder="Biography"></textarea>
      </div>
      <div>
        <label>Birthday:</label><br>
        <input type="date" name="birthday" placeholder="Birthday" max="{{today}}">
      </div>
      <div>
        <label>Education:</label><br>
        <input type="text" name="education" placeholder="Education">
      </div>
      <div>
        <label>Profile Picture:</label><br>
        <input type="file" name="profile-picture" placeholder="Profile Picture" accept="image/png, image/jpeg, image/jpg">
      </div>
      <div>
        <label>Skills: (separate each by comma no space)</label><br>
        <input type="text" name="skills" placeholder="Skills">
      </div>

      <!-- Social Links -->
      <div class="form-input-group">
        <label>GitHub:</label><br>
        <input type="url" name="github-profile" placeholder="GitHub Profile Link">
      </div>
      <div class="form-input-group">
        <label>LinkedIn:</label><br>
        <input type="url" name="linkedin-profile" placeholder="LinkedIn Profile Link">
      </div>
      <div class="form-input-group">
        <label>Twitter:</label><br>
        <input type="url" name="twitter-profile" placeholder="Twitter Profile Link">
      </div>
      <div class="form-input-group">
        <label>Instagram:</label><br>
        <input type="url" name="instagram-profile" placeholder="Instagram Profile Link">
      </div>
      <div class="form-input-group">
        <label>Facebook:</label><br>
        <input type="url" name="facebook-profile" placeholder="Facebook Profile Link">
      </div>
      <div class="form-input-group">
        <label>Twitch:</label><br>
        <input type="url" name="twitch-profile" placeholder="Twitch Profile Link">
      </div>
      <div class="form-input-group">
        <label>Personal Website:</label><br>
        <input type="url" name="personal-website" placeholder="Personal Website">
      </div>

      <input type="submit" value="Register">
    </form>
  </div>
{% endblock %}
