{% extends 'community/base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'community/hackathon-schedule.css' %}">
{% endblock %}
{% block body %}
  <div class="container">
    <h1>Future Hackathon Schedule</h1>
    <div class="future-hackathons">
      <div class="future-hackathon">
        <h3>Hackathon</h3>
        <div>
          <strong>Type:</strong> High School
        </div>
        <div>
          <strong>Date:</strong> April 1, 2020 - April 3, 2020
        </div>
        <div>
          <strong>Awards:</strong> Best use of an API, Best use of MongoDB
        </div>
      </div>
      <div class="future-hackathon">
        <h3>Hackathon</h3>
        <div>
          <strong>Type:</strong> High School
        </div>
        <div>
          <strong>Date:</strong> April 1, 2020 - April 3, 2020
        </div>
        <div>
          <strong>Awards:</strong> Best use of an API, Best use of MongoDB
        </div>
      </div>
      <div class="future-hackathon">
        <h3>Hackathon</h3>
        <div>
          <strong>Type:</strong> High School
        </div>
        <div>
          <strong>Date:</strong> April 1, 2020 - April 3, 2020
        </div>
        <div>
          <strong>Awards:</strong> Best use of an API, Best use of MongoDB
        </div>
      </div>
      <div class="future-hackathon">
        <h3>Hackathon</h3>
        <div>
          <strong>Type:</strong> High School
        </div>
        <div>
          <strong>Date:</strong> April 1, 2020 - April 3, 2020
        </div>
        <div>
          <strong>Awards:</strong> Best use of an API, Best use of MongoDB
        </div>
      </div>
      <div class="future-hackathon">
        <h3>Hackathon</h3>
        <div>
          <strong>Type:</strong> High School
        </div>
        <div>
          <strong>Date:</strong> April 1, 2020 - April 3, 2020
        </div>
        <div>
          <strong>Awards:</strong> Best use of an API, Best use of MongoDB
        </div>
      </div>
    </div>
  </div>
{% endblock %}
