{% extends 'community/base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'community/login-register.css' %}">
{% endblock %}
{% block body %}
  <div class="split-grid">
    <div class="left">
      <h1>Login</h1>
      <form method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input class="btn btn-primary" type="submit" value="Login">
      </form>
    </div>
    <div style="background-color: black" class="right">
      <h1>Welcome back!</h1>
      <div>Don't have an account?</div>
      <a class="btn btn-outline-light" href="/register/">Register</a>
    </div>
  </div>
{% endblock %}
