{% extends 'community/base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'community/profile.css' %}">
{% endblock %}
{% block body %}
  <div class="container">
    <div class="profile-header">
      <div class="profile-header-main">
        <div class="profile-header-main-left">
          <img class="profile-picture" src="{% static 'img/user.png' %}" alt="">
        </div>
        <div class="profile-header-main-right">
          <h1>Profile</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          </p>
          <a class="btn btn-primary" href="#">Edit Profile</a>
        </div>
      </div>
      <div class="profile-header-right">
        <h5>Education</h5>
        <h5>Education</h5>
        <h5>Education</h5>
        <h5>Education</h5>
        <h5>Education</h5>
        <h5>Education</h5>
        <h5>Education</h5>
        <h5>Education</h5>
        <h5>Education</h5>
      </div>
    </div>
    <div class="profile-body">
      <div class="project-container">
        <h1>Projects</h1>
        <div class="projects">
          <div class="project">
            <img class="project-img" src="{% static 'img/no-image-available.png' %}" alt="">
            <h5>Project</h5>
            <small>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </small>
          </div>
          <div class="project">
            <img class="project-img" src="{% static 'img/no-image-available.png' %}" alt="">
            <h5>Project</h5>
            <small>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </small>
          </div>
          <div class="project">
            <img class="project-img" src="{% static 'img/no-image-available.png' %}" alt="">
            <h5>Project</h5>
            <small>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </small>
          </div>
          <div class="project">
            <img class="project-img" src="{% static 'img/no-image-available.png' %}" alt="">
            <h5>Project</h5>
            <small>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </small>
          </div>
        </div>
      </div>
      <div class="hackathon-container">
        <h1>Hackathons</h1>
        <div class="hackathons">
          <ul>
            <li>
              <a href="#">Hackathon</a>
            </li>
            <li>
              <a href="#">Hackathon</a>
            </li>
            <li>
              <a href="#">Hackathon</a>
            </li>
            <li>
              <a href="#">Hackathon</a>
            </li>
            <li>
              <a href="#">Hackathon</a>
            </li>
            <li>
              <a href="#">Hackathon</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
