{% extends 'community/base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'community/login-register.css' %}">
{% endblock %}
{% block body %}
  <div class="split-grid">
    <div style="background-color: black" class="left">
      <h1>Nice to meet you!</h1>
      <div>Already have an account?</div>
      <a class="btn btn-outline-light" href="/login/">Login</a>
    </div>
    <div class="right">
      <h1>Register</h1>
      <form method="post">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Name">
        <input type="email" name="email" placeholder="Email">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input class="btn btn-primary" type="submit" value="Register">
      </form>
    </div>
  </div>
{% endblock %}
