{% extends 'app/base.html' %}
{% load static %}
{% block head %}
  <title>w3Hacks App - Edit User Profile</title>
  <link rel="stylesheet" href="{% static 'app/edit-profile.css' %}">
  <link rel="stylesheet" href="{% static 'home/login-register.css' %}">
  <link rel="stylesheet" href="https://getbootstrap.com/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.min.js"></script>
{% endblock %}
{% block body %}
  <div class="body-container container">
    <h1 class="heading-secondary">Edit Profile</h1>
    <form enctype="multipart/form-data" method="post">
      {% csrf_token %}

      <div class="form-input-group">
        <label>First Name *:</label><br>
        <input class="ghost-input-dark" type="text" name="first-name" value="{{ profile.user.first_name }}" required>
      </div>
      <div class="form-input-group">
        <label>Last Name *:</label><br>
        <input class="ghost-input-dark" type="text" name="last-name" value="{{ profile.user.last_name }}" required>
      </div>
      <div class="form-input-group">
        <label>Email *:</label><br>
        <input class="ghost-input-dark" type="email" name="email" value="{{ profile.user.email }}" required>
      </div>
      <div class="form-input-group">
        <label>Username *:</label><br>
        <input class="ghost-input-dark" type="text" name="username" value="{{ profile.user.username }}" required>
      </div>
      <div class="form-input-group">
        <label>Biography:</label><br>
        {% if profile.biography %}
          <textarea class="ghost-input-dark" type="text" name="biography" placeholder="Biography" rows="5" maxlength="200">{{ profile.biography }}</textarea>
        {% else %}
          <textarea class="ghost-input-dark" type="text" name="biography" placeholder="Biography" rows="5" maxlength="200"></textarea>
        {% endif %}
      </div>
      <div class="form-input-group">
        <label>Birthday:</label><br>
        <input id="birthday" class="ghost-input-dark" type="date" name="birthday" value="{{ profile.birthday|date:'Y-m-d'}}">
      </div>
      <div class="form-input-group">
        <label>Profile Picture:</label><br>
        <input type="file" name="profile-picture" id="file" class="inputfile" data-multiple-caption="{count} files selected" accept="image/*" />
        <label for="file">
          <img class="file-upload-icon" src="{% static 'img/icons/file-upload.svg' %}" alt="">
          <span>Choose a file</span>
        </label>
      </div>
      <div class="form-input-group">
        <label>Skills:</label><br>
        <input class="skills-input" name="skills" type="text" data-role="tagsinput" placeholder="Skills" value="{{ skills }}">
      </div>
      <div class="form-input-group">
        <label>Education:</label><br>
        {% if profile.education %}
          <input class="ghost-input-dark" type="text" name="education" placeholder="Education" value="{{ profile.education }}">
        {% else %}
          <input class="ghost-input-dark" type="text" name="education" placeholder="Education">
        {% endif %}
      </div>

      <div class="form-input-group">
        <label>Facebook:</label><br>
        {% if profile.facebook_profile %}
          <input class="ghost-input-dark" type="url" name="facebook-profile" placeholder="https://www.facebook.com/..." value="{{ profile.facebook_profile }}">
        {% else %}
          <input class="ghost-input-dark" type="url" name="facebook-profile" placeholder="https://www.facebook.com/...">
        {% endif %}
      </div>
      <div class="form-input-group">
        <label>Instagram:</label><br>
        {% if profile.instagram_profile %}
          <input class="ghost-input-dark" type="url" name="instagram-profile" placeholder="https://www.instagram.com/..." value="{{ profile.instagram_profile }}">
        {% else %}
          <input class="ghost-input-dark" type="url" name="instagram-profile" placeholder="https://www.instagram.com/...">
        {% endif %}
      </div>
      <div class="form-input-group">
        <label>LinkedIn:</label><br>
        {% if profile.linkedin_profile %}
          <input class="ghost-input-dark" type="url" name="linkedin-profile" placeholder="https://www.linkedin.com/in/..." value="{{ profile.linkedin_profile }}">
        {% else %}
          <input class="ghost-input-dark" type="url" name="linkedin-profile" placeholder="https://www.linkedin.com/in/...">
        {% endif %}
      </div>
      <div class="form-input-group">
        <label>Twitter:</label><br>
        {% if profile.twitter_profile %}
          <input class="ghost-input-dark" type="url" name="twitter-profile" placeholder="https://twitter.com/..." value="{{ profile.twitter_profile }}">
        {% else %}
          <input class="ghost-input-dark" type="url" name="twitter-profile" placeholder="https://twitter.com/...">
        {% endif %}
      </div>
      <div class="form-input-group">
        <label>GitHub:</label><br>
        {% if profile.github_profile %}
          <input class="ghost-input-dark" type="url" name="github-profile" placeholder="https://github.com/..." value="{{ profile.github_profile }}" >
        {% else %}
          <input class="ghost-input-dark" type="url" name="github-profile" placeholder="https://github.com/..." >
        {% endif %}
      </div>
      <div class="form-input-group">
        <label>YouTube:</label><br>
        {% if profile.youtube_profile %}
          <input class="ghost-input-dark" type="url" name="youtube-profile" placeholder="https://www.youtube.com/channel/..." value="{{ profile.youtube_profile }}" >
        {% else %}
          <input class="ghost-input-dark" type="url" name="youtube-profile" placeholder="https://www.youtube.com/channel/..." >
        {% endif %}
      </div>
      <div class="form-input-group">
        <label>Medium:</label><br>
        {% if profile.medium_profile %}
          <input class="ghost-input-dark" type="url" name="medium-profile" placeholder="https://medium.com/..." value="{{ profile.medium_profile }}" >
        {% else %}
          <input class="ghost-input-dark" type="url" name="medium-profile" placeholder="https://medium.com/..." >
        {% endif %}
      </div>
      <div class="form-input-group">
        <label>Personal Website:</label><br>
        {% if profile.personal_website %}
          <input class="ghost-input-dark" type="url" name="personal-website" placeholder="Personal Website" value="{{ profile.personal_website }}">
        {% else %}
          <input class="ghost-input-dark" type="url" name="personal-website" placeholder="Personal Website">
        {% endif %}
      </div>

      <input class="solid-cta-button mt-4 w-100" type="submit" value="Update!">
    </form>
  </div>
  <script src="{% static 'js/file-upload.js' %}" charset="utf-8"></script>
{% endblock %}
