{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/logos/w3hacks-cut.png' %}">
    <link rel="stylesheet" href="{% static 'global/queries.css' %}">
    <link rel="stylesheet" href="{% static 'global/global.css' %}">
    <link rel="stylesheet" href="{% static 'global/components.css' %}">
    <link rel="stylesheet" href="{% static 'cdn/bootstrap/bootstrap.min.css' %}">
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-dark">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="{% static 'img/logos/w3hacks.png' %}" alt="w3Hacks Logo">
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-target">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-target">
          <ul class="navbar-nav ml-auto" style="display: flex; align-items: center;">
            <li class="nav-item">
                <a class="nav-link" href="https://w3hacks.com">w3Hacks Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">All Blogs</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {% block body %}
    {% endblock %}

    {% include 'blocks/footer.html' %}

    <script src="{% static 'cdn/js/jquery.js' %}"></script>
    <script src="{% static 'cdn/js/popper.min.js' %}"></script>
    <script src="{% static 'cdn/js/bootstrap.min.js' %}"></script>
  </body>
</html>
