{% extends 'blog/base.html' %}
{% load static %}
{% block head %}
  <title>w3Hacks - Blog</title>
  <link rel="stylesheet" href="{% static 'home/blog.css' %}">
  <meta name="description" content="Check out the w3Hacks blog! We write about technology, software engineering, programming, and how you can get started in the industry with w3Hacks!">
{% endblock %}
{% block body %}
  <div style="background-color: #eee">
    <div class="small-container text-center">
      <h1 class="heading-secondary">w3Hacks Blog</h1>
      <p>
        Read all about technology, software engineering, programming, how you can get started in the industry with w3Hacks, as well as how to take advantage of w3Hacks the best!
      </p>
    </div>
  </div>
  <div class="small-container">
    {% for blog in blogs %}
      <a href="/blog/{{ blog.url_extension }}">
        <div class="blog">
          <h3>{{ blog.title }}</h3>
          <p>{{ blog.date_posted }}</p>
          <small>{{ blog.preview }}</small>
        </div>
      </a>
    {% endfor %}
  </div>
{% endblock %}
