{% extends 'home/base.html' %}
{% load static %}
{% block head %}
  <title>w3Hacks - Blog</title>
  <link rel="stylesheet" href="{% static 'home/blog.css' %}">
{% endblock %}
{% block body %}
  <div class="container py-5">
    <a href="/">&larr; Back to blog posts</a>
    <div class="text-center">
      <h1>{{ blog.title }}</h1>
      <p>{{ blog.date_posted }}</p>
    </div>

    <div id="markdown"></div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js" charset="utf-8"></script>
  <script>
    const converter = new showdown.Converter();
    const markdown = document.getElementById("markdown");
    const html = converter.makeHtml(`{{ blog.body }}`);
    markdown.innerHTML = html;
  </script>
{% endblock %}
