{% extends 'home/base.html' %}
{% load static %}
{% block head %}
  <title>w3Hacks - Events</title>
  <link rel="stylesheet" href="{% static 'home/events.css' %}">
  <meta name="description" content="Check out some of the events that w3Hacks hosts to help users learn more about software, programming, and computer science!">
{% endblock %}
{% block body %}
  <div class="container py-5">
    <h1 class="heading-secondary mb-4">Events!</h1>
    {% if events %}
      <div class="events-grid">
        {% for event in events %}
          <a href="/events/{{ event.url_extension }}">
            <div class="event">
              <h3>{{ event.title }}</h3>
              <small>{{ event.type  }}</small>
              <br>
              <strong>{{ event.datetime }}</strong>
              <p>{{ event.preview }}</p>
            </div>
          </a>
        {% endfor %}
      </div>
    {% else %}
      <div class="text-center">
        <small>No events yet!</small>
      </div>
    {% endif %}
  </div>
  <script>
    //height of Events header and content
    var eventHeaderHeight = document.querySelector('.heading-secondary').offsetHeight;
    var eventContentHeight = document.querySelector('.text-center').offsetHeight;

    //height for nav bar, footer, user's screen, Events body
    const vH = Math.max(document.documentElement.clientHeight || 0, window.innerHeight || 0)
    var footerHeight = 304;
    var headerHeight = 118;
    var bodyHeight = vH - headerHeight - footerHeight - eventHeaderHeight - eventContentHeight -48;

    //document.getElementsByClassName(".text-center").style.minHeight = "500px";
    document.querySelectorAll(".text-center")[0].style.minHeight = bodyHeight + "px"; //change minHeight of Events content
  </script>
{% endblock %}
