{% extends 'home/base.html' %}
{% load static %}
{% block head %}
  <title>w3Hacks - Code of Conduct</title>
  <link rel="stylesheet" href="{% static 'home/legal.css' %}">
{% endblock %}
{% block body %}
  <div class="container py-5 legal-container">
    <h1>Code of Conduct for w3Hacks</h1>

    <p>At w3Hacks, we want to make sure everyone has the best experience possible. So we please ask everyone to be polite and respectful to all users of w3Hacks so that everyone can have the best experience here.</p>

    <p>Some examples of disrespectful/rude behavior that we don't tolerate here would be:</p>

    <ul>
      <li>Spamming. Please don't use w3Hacks to promote, advertise, or spam any type of information or opportunities. We want to make this platform purely educational and not an open job listing platform.</li>
      <li>Harassment. Please don't stalk, sexually harrass, or deliberately induce anger or sadness in other users of w3Hacks. We want to stay positive and happy on this platform!</li>
      <li>Trolling. Please refrain from posting and displaying information that may be disturbing or offensive to others that may be using w3Hacks.</li>
    </ul>

    <p>
      This code of conduct was inspired from <a href="https://freecodecamp.org">freeCodeCamp</a>, and we hope that everyone enjoys using our platform!
    </p>
  </div>
{% endblock %}
