/* HEADINGS */
.heading-primary {
  text-align: center;
  font-size: 65px;
  font-weight: bold;
}

.heading-secondary {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.heading-tertiary {
  font-size: 40px;
  font-weight: bold;
}

.heading-fourth {
  font-size: 30px;
  font-weight: bold;
}


/* BUTTONS */
.cta-buttons {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 7.5px;
}

@media (max-width: 600px) {
  /* Fixing CTA buttons */
  .cta-buttons {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)) !important;
  }
}

.ghost-cta-button {
  border: 2px solid white;
  background-color: transparent;
  padding: 10px 15px;
  border-radius: 4px;
  color: white;
  transition: all .2s;
  text-align: center;
  text-decoration: none;
}

.ghost-cta-button:hover {
  color: black;
  text-decoration: none;
  background-color: white;
}

.ghost-cta-button-dark {
  border: 2px solid var(--color-primary);
  background-color: transparent;
  padding: 10px 15px;
  border-radius: 4px;
  color: var(--color-primary);
  transition: all .2s;
  text-align: center;
  text-decoration: none;
}

.ghost-cta-button-dark:hover {
  color: white;
  text-decoration: none;
  background-color: var(--color-primary);
}

.solid-cta-button {
  border: 2px solid var(--color-primary);
  background-color: var(--color-primary);
  padding: 10px 15px;
  border-radius: 4px;
  color: white;
  transition: all .2s;
  text-align: center;
  text-decoration: none;
}

.solid-cta-button:hover {
  text-decoration: none;
  border: 2px solid var(--color-primary-light);
  background-color: var(--color-primary-light);
  color: white;
}

.solid-cta-button-light {
  border: 2px solid var(--color-secondary);
  background-color: var(--color-secondary);
  padding: 10px 15px;
  border-radius: 4px;
  color: black !important;
  transition: all .2s;
  text-align: center;
  text-decoration: none;
}

.solid-cta-button-light:hover {
  text-decoration: none;
  border: 2px solid var(--color-secondary-dark);
  background-color: var(--color-secondary-dark);
}


/* INPUTS */
.ghost-input-light {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 4px;
  padding: 10px 15px;
  transition: all .2s;
}

.ghost-input-light:focus {
  outline: none;
  background-color: rgba(255,255,255,.2);
}

.ghost-input-dark {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 2px solid var(--color-primary);
  border-radius: 4px;
  padding: 10px 15px;
  transition: all .2s;
}

.ghost-input-dark:focus {
  outline: none;
  border: 2px solid var(--color-primary-light);
  color: var(--color-primary-light);
}


/* FILE UPLOAD */
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
    font-size: 20px;
    color: white;
    background-color: var(--color-primary);
    display: inline-block;
    padding: 5px 15px;
    border-radius: 4px;
    transition: all .2s;
}

.file-upload-icon {
  margin-right: 5px;
  transform: translateY(-1px);
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: var(--color-primary-light);
}

.inputfile + label {
  cursor: pointer; /* "hand" cursor */
}
