@import "https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap";

:root {
  --color-primary-light: #00376e;
  --color-primary: #00203FFF;
  --color-secondary: #E6C700;
  --color-secondary-dark: #dbbe00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Ubuntu;
}

body {
  background-color: #eee;
}

nav {
  background-color: var(--color-primary);
}

section {
  padding: 50px;
}

.navbar-brand img {
  width: 100px;
}

.footer img {
  width: 65%;
}

.mobile-image {
  display: none;
}

.flip {
  transform: rotate(180deg);
  top: -5px;
}

.no-flip {
  bottom: 0;
}

.dropdown-toggle::after {
  vertical-align: .06em !important;
}

.body-container {
  padding: 50px 0;
}

.thin-container {
  padding: 50px 0;
  width: 350px;
  margin: auto;
}

.small-container {
  padding: 50px 0;
  width: 500px;
  margin: auto;
}

@media (max-width: 500px) {
  .thin-container, .small-container {
    width: 90% !important;
  }
}

.medium-container {
  width: 800px;
  margin: auto;
}

@media (max-width: 900px) {
  .medium-container {
    width: 90% !important;
  }
}

@media (max-width: 800px) {
  .body-container {
    padding: 20px !important;
  }
}

.errorlist {
  list-style: none;
}

.errorlist li {
  color: red;
  font-size: 12.5px;
}

.image-cropper img {
  border: 5px solid var(--color-secondary);
  object-fit: cover;
  border-radius: 50% !important;
}

/* FOOTER */
.footer {
  background-color: var(--color-primary);
}

.footer * {
  color: white;
}

.footer *:hover {
  color: white;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 50px;
}

.footer-grid ul {
  list-style: none;
}

.social-links {
  display: grid;
  grid-template-columns: repeat(auto-fill, 30px);
  grid-gap: 10px;
}

.social-links img {
  width: 100%;
}
