:root {
  --color-primary-light: #00376e;
  --color-primary: #00203FFF;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Manrope;
}

.body-container {
  padding: 50px 0;
}

.image-cropper {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid var(--color-primary-light);
}

@media (max-width: 800px) {
  .body-container {
    padding: 30px 10px 10px 10px !important;
  }
}
