:root {
  --color-primary-light: #00376e;
  --color-primary: #00203FFF;
}

@font-face {
  font-family: "Manrope";
  src: url("https://w3hacks.s3-us-west-2.amazonaws.com/static/fonts/Manrope.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Manrope cursive;
}

body {
  background-color: #eee;
}

.body-container {
  padding: 50px 0;
}

.thin-container {
  padding: 50px 0;
  width: 350px;
  margin: auto;
}

@media (max-width: 500px) {
  .thin-container {
    width: 90% !important;
  }
}

@media (max-width: 800px) {
  .body-container {
    padding: 30px 10px 10px 10px !important;
  }
}

.errorlist {
  list-style: none;
}

.errorlist li {
  color: red;
  font-size: 12.5px;
}

.image-cropper {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid var(--color-primary-light);
}

/* FOOTER */
.footer {
  background-color: var(--color-primary);
}

.footer * {
  color: white;
}

.footer *:hover {
  color: white;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 50px;
}

.footer-grid ul {
  list-style: none;
}

.social-links {
  display: grid;
  grid-template-columns: repeat(auto-fill, 30px);
  grid-gap: 10px;
}

.social-links img {
  width: 100%;
}
