@media (min-width: 1600px) {
  .waves {
    height: 300px !important;
  }
}

@media (max-width: 1000px) {
  /* Shortening waves height */
  .waves {
    height: 150px !important;
  }
}


@media (max-width: 800px) {
  /* Shortening waves height */
  .waves {
    height: 100px !important;
  }
}


@media (max-width: 600px) {
  /* Removing padding from sections  */
  section {
    padding: 50px 0 !important;
  }

  /* Fixing centered collapsed navbar */
  .navbar-nav {
    display: block !important;
  }
}
