.achievements {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 15px;
}

.achievement {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 10px;
  align-items: center;

  padding: 10px;
  border-radius: 5px;

  box-shadow: 0 5px 10px rgba(0,0,0,.3);
}

.achievement img {
  width: 100%;
}

.achievement p {
  line-height: 130%;
  font-size: 12.5px;
  margin-bottom: 0 !important;
}
