body {
  background-color: #eee !important;
  min-height: 100vh;
}

nav {
  background-color: var(--color-primary);
}

.dropdown-toggle::after {
  vertical-align: .06em !important;
}

.completed-container, .completed-container > * {
  margin-top: 15px;
}
