{% extends 'app/base.html' %}
{% load static %}
{% block head %}
  <title>w3Hacks App - All Quiz Exercises</title>
  <link rel="stylesheet" href="{% static 'app/exercises/global-exercise-styles.css' %}">
  <link rel="stylesheet" href="{% static 'app/exercises/project-exercises/quiz-exercises.css' %}">
{% endblock %}
{% block body %}
  <div class="body-container container">
    <h1 class="heading-secondary">Quiz Exercises</h1>
    {% if exercises %}
      <h3 class="heading-tertiary">Exercises</h3>
      <div class="exercises">
        {% for exercise in exercises %}
          <a class="exercise-link" href="exercise/?id={{ exercise.id }}">
            <div class="exercise">
              <img class="exercise-icon" src="{% static 'img/icons/quiz-light.svg' %}" alt="">
              <div class="exercise-info">
                <h5>{{ exercise.name }}</h5>
                <p>{{ exercise.description }}</p>
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
    {% else %}
      <div class="text-center mt-4">
        <small>No quiz exercises yet!</small>
      </div>
    {% endif %}
  </div>
{% endblock %}
