{% extends 'app/base.html' %}
{% load static %}
{% block head %}
  <title>w3Hacks App - {{ exercise.name }}</title>
{% endblock %}
{% block body %}
  <div class="body-container container">
    <h1 class="heading-tertiary">Quiz Exercise: {{ exercise.name }}</h1>
    <div class="information mt-4">
      <p id="markdown"></p>
      <p>
        <strong>Difficulty Level:</strong> {{ exercise.difficulty_level.name }}
      </p>
      {% if exercise.prerequisites %}
        <div class="prerequisites mt-3">
          <h4>Pre-Requisites</h4>
          <ul class="ml-5">
            {% for prerequisite in exercise.prerequisites %}
              <li>{{ prerequisite }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      {% if resources %}
        <div class="resource mt-3">
          <h4>Resources</h4>
          <ul class="ml-5">
            {% for resource in resources %}
              <li><a href="{{ resource.link }}" target="_">{{ resource.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>

    {% if user_already_taken_quiz %}
      <h1 class="heading-tertiary">{{ quiz.name }}</h1>
      <div class="mb-4">
        <strong>You have already taken this quiz.</strong>
      </div>
      <a href="quiz-results/?id={{ exercise.id }}" class="solid-cta-button">See Results</a>
    {% else %}
      <div class="submit mt-4">
        <a class="solid-cta-button" href="take-quiz/?id={{ exercise.id }}" target="_">Take the Quiz!</a>
      </div>
    {% endif %}
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js" charset="utf-8"></script>
  <script>
    const converter = new showdown.Converter();
    const markdown = document.getElementById("markdown");
    const html = converter.makeHtml(`{{ exercise.description }}`);
    markdown.innerHTML = html;
  </script>
{% endblock %}
