{% extends 'app/base.html' %}
{% load static %}
{% block head %}
  <title>w3Hacks App - {{ exercise.name }}</title>
  <link rel="stylesheet" href="{% static 'app/exercises/global-exercise-styles.css' %}">
{% endblock %}
{% block body %}
  <div class="body-container container">
    <h1 class="heading-tertiary">Quiz Exercise: {{ exercise.name }} <span class="tag">{{ exercise.difficulty_level }}</span></h1>
    <div class="information mt-5">
      <div class="exercise-section">
        <p id="markdown"></p>
      </div>
      <div>
        <div class="exercise-section">
          {% if resources %}
            <div class="resource">
              <h4>Resources</h4>
              <ul>
                {% for resource in resources %}
                  <li><a href="{{ resource.link }}" target="_blank">{{ resource.title }}</a></li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>

        <div class="exercise-section">
          {% if user_already_taken_quiz %}
            <h1 class="heading-tertiary">{{ quiz.name }}</h1>
            <div class="mb-4">
              <strong>You have already taken this quiz.</strong>
            </div>
            <a href="quiz-results/?id={{ exercise.id }}" class="solid-cta-button">See Results</a>
          {% else %}
            <p>You haven't taken this quiz yet.</p>
            <div class="submit pb-2">
              <a class="solid-cta-button" href="take-quiz/?id={{ exercise.id }}">Take the Quiz!</a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js" charset="utf-8"></script>
  <script>
    const converter = new showdown.Converter();
    const markdown = document.getElementById("markdown");
    const html = converter.makeHtml(`{{ exercise.description }}`);
    markdown.innerHTML = html;
  </script>
{% endblock %}
