.profile-header {
  display: grid;
  grid-template-columns: 70% 30%;
  height: 200px;
}

.profile-header > * {
  border: 1px solid #ccc;
  padding: 20px;
}

.profile-header-main {
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-gap: 50px;
}

.profile-header-right {
  overflow-y: scroll;
}

.profile-picture {
  width: 100%;
}

.profile-body {
  display: grid;
  grid-template-columns: 70% 30%;
}

.profile-body > * {
  padding: 20px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 15px;
}

.project {
  border: 1px solid #ccc;
}

.project-img {
  width: 100%;
}
