body {
  background-color: #eee;
  min-height: 100vh;
}

.heading-banner {
  height: 200px;
  background-color: blue;
  display: flex;
  align-items: center;
}

.heading-banner * {
  color: white;
}

.form-input-group {
  padding: 15px 0;
}

.form-input-group input, textarea {
  width: 100%;
}
