.competitors {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 50px;
}

.competitor {
  text-align: center;
}

.competitor-img {
  width: 100%;
}

.competitor-link, .competitor-link:hover {
  color: var(--color-primary);
}
