* {
  color: white;
}

body {
  position: relative;
}

.content-body {
  height: 70vh;
  background-color: var(--color-primary);
}

.message {
  width: 400px;
  margin: auto;
}

.back-button {
  position: absolute;
  top: 15px;
  left: 15px;
}

@media (max-width: 500px) {
  .message {
    width: 90% !important;
  }

  .content-body {
    height: auto !important;
    padding-bottom: 50px !important;
  }
}
