{% extends 'hackathon/base.html' %}
{% load static %}
{% block head %}
  <title>w3Hacks Hackathon - Hackathon Awards</title>
  <link rel="stylesheet" href="{% static 'hackathon/awards.css' %}">
{% endblock %}
{% block body %}
  <div class="heading-banner">
    <div class="container">
      <h1>Awards</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>
  <div class="container">
    Awards
    {% if show_winners %}
      <h1>Show Winners!</h1>
    {% else %}
      <small>Winners have not been announced yet!</small>
    {% endif %}
  </div>
{% endblock %}
