{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'hackathon/queries.css' %}">
    <link rel="stylesheet" href="{% static 'global/global.css' %}">
    <link rel="stylesheet" href="{% static 'hackathon/base.css' %}">

    <!-- Alertify CDN Links -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"/>

    {% block head %}
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/{{ hackathon.id }}/">w3Hacks Hackathon</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-target">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-target">
          <ul class="navbar-nav ml-auto" style="display: flex; align-items: center;">
              <li class="nav-item">
                  <a class="nav-link" href="/{{ hackathon.id }}/">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/{{ hackathon.id }}/schedule/">Schedule</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/{{ hackathon.id }}/competitors/">Competitors</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/{{ hackathon.id }}/submissions/">Submissions</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/{{ hackathon.id }}/submit/">Submit</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                  {% if request.user.profile.profile_picture %}
                    <div class="image-cropper" style="border-width: 2px;">
                      <img style="width: 35px" src="{{ request.user.profile.profile_picture.url }}" alt="">
                    </div>
                  {% else %}
                    <img style="width: 35px" src="{% static 'img/user.png' %}" alt="">
                  {% endif %}
                </a>
                <div class="dropdown-menu">
                  <a href="/{{ hackathon.id }}/profile/{{ request.user.id }}" class="dropdown-item">View Profile</a>
                  <a href="/{{ hackathon.id }}/edit-profile/{{ request.user.id }}" class="dropdown-item">Edit Profile</a>
                  <div class="dropdown-divider"></div>
                  <a href="http://app.w3hacks.com" class="dropdown-item">Back to App</a>
                </div>
              </li>
          </ul>
        </div>
      </div>
    </nav>
    {% block body %}
    {% endblock %}
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

    <!-- Disallow 'Confirm Form Resubmission' -->
    <script>
      if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
      }
    </script>

    <script>
      {% if message %}
        {% if status == "good" %}
          alertify.success("{{ message }}");
        {% elif status == "bad" %}
          alertify.error("{{ message }}");
        {% endif %}
      {% endif %}
    </script>
  </body>
</html>
