{% extends 'hackathon/base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'hackathon/competitors.css' %}">
{% endblock %}
{% block body %}
  <div class="heading-banner">
    <div class="container">
      <h1>Competitors</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>
  <div class="container">
    {% if competitors %}
      <div class="competitors">
        {% for competitor in competitors %}
          <div class="competitor">
            <img src="{% static 'img/user.png' %}" alt="" class="competitor-img">
            <h5>{{ competitor.user.first_name }} {{ competitor.user.last_name }}</h5>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <small>No competitors yet!</small>
    {% endif %}
  </div>
{% endblock %}
