{% extends 'hackathon/base.html' %}
{% load static %}
{% block head %}
  <title>w3Hacks Hackathon - All Hackathon Competitors</title>
  <link rel="stylesheet" href="{% static 'hackathon/competitors.css' %}">
{% endblock %}
{% block body %}
  <div class="heading-banner">
    <div class="container">
      <h1 class="heading-tertiary">Competitors</h1>
      <p>
        Here are all of the competitors competing in this hackathon!
      </p>
    </div>
  </div>
  <div class="body-container container">
    {% if competitors %}
      <div class="competitors">
        {% for competitor in competitors %}
          <div class="competitor">
            {% if competitor.profile_picture %}
              <div class="image-cropper">
                <img src="{{ competitor.profile_picture.url }}" alt="" class="competitor-img">
              </div>
            {% else %}
              <img src="{% static 'img/icons/user.png' %}" alt="" class="competitor-img">
            {% endif %}
            <h5 class="mt-3">
              <a class="competitor-link" href="/{{ hackathon.id }}/profile/{{ competitor.id }}/">{{ competitor.user.first_name }} {{ competitor.user.last_name }}</a>
            </h5>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <div class="text-center">
        <small>No competitors yet!</small>
      </div>
    {% endif %}
  </div>
{% endblock %}
