{% extends 'hackathon/base.html' %}
{% load static %}
{% block head %}
  <title>w3Hacks Hackathon - Hackathon Schedule</title>
  <link rel="stylesheet" href="{% static 'hackathon/schedule.css' %}">
{% endblock %}
{% block body %}
  <div class="heading-banner">
    <div class="container">
      <h1 class="heading-tertiary">Schedule</h1>
      <p>
        Here's the schedule for this hackathon!
      </p>
    </div>
  </div>
  <div class="body-container container">
    <table>
      <tr>
        <th>Datetime</th>
        <th>Event Title</th>
        <th>Event Description</th>
        <th>Link</th>
      </tr>
      {% for event in schedule_events %}
        <tr>
          <td>{{ event.scheduled_datetime }}</td>
          <td>{{ event.title }}</td>
          <td>{{ event.description}}</td>
          <td>
            {% if event.event_link %}
              <a href="{{ event.event_link.link }}" target="_blank">{{ event.event_link.title }}</a>
            {% else %}
              <p>None</p>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
