{% extends 'hackathon/base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'hackathon/schedule.css' %}">
{% endblock %}
{% block body %}
  <div class="heading-banner">
    <div class="container">
      <h1>Schedule</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>
  <div class="container">
    <table>
      <tr>
        <th>Event Title</th>
        <th>Event Description</th>
        <th>Link</th>
      </tr>
      {% for event in schedule_events %}
        <tr>
          <td>{{ event.title }}</td>
          <td>{{ event.description}}</td>
          <td>
            <a href="{{ event.event_link.link }}">{{ event.event_link.title }}</a>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
