{% extends 'hackathon/base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'hackathon/submissions.css' %}">
{% endblock %}
{% block body %}
  <div class="heading-banner">
    <div class="container">
      <h1>Submissions</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>
  <div class="container">
    {% if submissions %}
      <div class="submissions">
        {% for submission in submissions %}
          <div class="submission">
            <h3>{{ submission.title }}</h3>
            <div class="submission-btns">
              <img class="submission-btn" src="{% static 'img/github.png' %}" alt="">
              <img class="submission-btn" src="{% static 'img/out.png' %}" alt="">
            </div>
            <p>
              {{ submission.description }}
            </p>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <small>No submissions yet!</small>
    {% endif %}
  </div>
{% endblock %}
