{% extends 'hackathon/base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'hackathon/submissions.css' %}">
{% endblock %}
{% block body %}
  <div class="heading-banner">
    <div class="container">
      <h1 class="heading-tertiary">Submissions</h1>
      <p>
        Here are all of the submissions submitted by this hackathon's competitors!
      </p>
    </div>
  </div>
  <div class="body-container container">
    <h3 class="heading-fourth mt-4">My Submission</h3>
    {% if user_submission %}
      <div class="user-submission">
        <div class="submissions">
          <div class="submission">
            <h3>{{ user_submission.title }}</h3>
            <div class="submission-btns">
              {% if user_submission.video_link %}
                <a href="{{ user_submission.video_link }}" target="_">
                  <img class="submission-btn" src="{% static 'img/video.png' %}" alt="">
                </a>
              {% endif %}
              {% if user_submission.github_link %}
                <a href="{{ user_submission.github_link }}" target="_">
                  <img class="submission-btn" src="{% static 'img/github.png' %}" alt="">
                </a>
              {% endif %}
              {% if user_submission.project_link %}
                <a href="{{ user_submission.project_link }}" target="_">
                  <img class="submission-btn" src="{% static 'img/out.png' %}" alt="">
                </a>
              {% endif %}
              <img class="x" onclick="deleteUserSubmission()" src="{% static 'img/incorrect-white.png'%}" alt="">
            </div>
            <p>
              {{ user_submission.description }}
            </p>
          </div>
        </div>
      </div>
    {% else %}
      <div>
        <small>You haven't submitted a project yet!</small>
      </div>
    {% endif %}

    <h3 class="heading-fourth mt-4">Submissions</h3>
    {% if submissions %}
      <div class="submissions">
        {% for submission in submissions %}
          <div class="submission">
            <h3>{{ submission.title }}</h3>
            <div class="submission-btns">
              {% if submission.video_link %}
                <a href="{{ submission.video_link }}" target="_">
                  <img class="submission-btn" src="{% static 'img/video.png' %}" alt="">
                </a>
              {% endif %}
              {% if submission.github_link %}
                <a href="{{ submission.github_link }}" target="_">
                  <img class="submission-btn" src="{% static 'img/github.png' %}" alt="">
                </a>
              {% endif %}
              {% if submission.project_link %}
                <a href="{{ submission.project_link }}" target="_">
                  <img class="submission-btn" src="{% static 'img/out.png' %}" alt="">
                </a>
              {% endif %}
            </div>
            <p>
              {{ submission.description }}
            </p>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <div>
        <small>No submissions yet!</small>
      </div>
    {% endif %}
  </div>

  <script>
    function deleteUserSubmission() {
      alertify.confirm("Are you sure you want to delete your submission?",
        function(){
          // Send off alert
          alertify.success('Your submission has successfully been deleted.');

          // Hide the submission
          document.querySelector(".user-submission").style.display = "none";

          // Delete the submission asynchronously
          fetch("/{{ hackathon.id }}/submissions/?project_id={{ user_submission.id }}", {
            method: "GET"
          });
        }
      );
    }
  </script>
{% endblock %}
