{% extends 'hackathon/base.html' %}
{% block body %}
  <div class="heading-banner">
    <div class="container">
      <h1 class="heading-tertiary">Submit</h1>
      <p>
        Submit your project for the hackathon! Remember, you can only submit a project once.
      </p>
    </div>
  </div>
  <div class="body-container container">
    {% if profile in competitors %}
      {% if too_early %}
        <div class="text-center">
          <small>Submissions open in: <span id="pageTimer"></span> @ {{ submissions_open_datetime }}</small>
        </div>
      {% elif too_late %}
        <div class="text-center">
          <small>Submissions closed on <strong>{{ submissions_close_datetime }}</strong></small>
        </div>
      {% elif user_already_submitted %}
        <div class="text-center">
          <small>You can only submit a project once.</small>
        </div>
      {% else %}
      <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col">
            <div class="form-input-group">
              <label>Project Name *:</label><br>
              <input class="form-control" type="text" name="title" placeholder="Project Name" required>
            </div>
            <div class="form-input-group">
              <label>Project Description *:</label><br>
              <textarea class="form-control" name="description" rows="5" placeholder="Project Description" required></textarea>
            </div>
            <div class="form-input-group">
              <label>Project Image:</label><br>
              <input type="file" name="project-image" placeholder="Project Image" accept="image/png, image/jpeg, image/jpg">
            </div>
            <div class="form-input-group">
              <label>Extra Files:</label><br>
              <input type="file" multiple name="extra-files" placeholder="Extra Files">
            </div>
          </div>
          <div class="col">
            <div class="form-input-group">
              <label>Technologies Used: (separate by commas, no spaces)</label><br>
              <input class="form-control" type="text" name="technologies-used" placeholder="Technologies Used">
            </div>
            <div class="form-input-group">
              <label>GitHub Link:</label><br>
              <input class="form-control" type="url" name="github-link" placeholder="GitHub Link">
            </div>
            <div class="form-input-group">
              <label>Project Link:</label><br>
              <input class="form-control" type="url" name="project-link" placeholder="Project Link">
            </div>
            <div class="form-input-group">
              <label>Video Link:</label><br>
              <input class="form-control" type="url" name="video-link" placeholder="Video Link">
            </div>
          </div>
        </div>

        <div class="text-center mt-4">
          <input class="solid-cta-button w-50 m-auto" type="submit" value="Submit">
        </div>
      </form>
      {% endif %}
    {% else %}
      <div class="text-center">
        <small>Only competitors can submit projects.</small>
      </div>
    {% endif %}
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/countdown/2.6.0/countdown.min.js" charset="utf-8"></script>
  <script>
    // Countdown timer
    setInterval(function() {
      var timerId =
        countdown(
          Date.parse("{{ submissions_open_datetime }}"),
          function(ts) {
            document.getElementById('pageTimer').innerHTML = ts.toHTML("strong");
          },
          countdown.DAYS|countdown.HOURS|countdown.MINUTES|countdown.SECONDS);

      // later on this timer may be stopped
      window.clearInterval(timerId);
    }, 1000);
  </script>
{% endblock %}
